<div class="footer_box">
    <div class="container">
        <div class="row f_m_t">
            <div class="col-lg-12">
                My-Tend.Com © 2016 Интернет-торги Event услуг для физических лиц, малого и среднего бизнеса<br />
                Использование сайта "My-Tend.Com" означает согласие с <a href="~/Docs/Rules">Условиями использования сайта</a> и <a href="~/Docs/PublicData" target="_blank">Соглашением на обработку персональных данных</a>.<br />
                Пользователи, желающие стать продавцами, принимают <a href="/Docs/Oferta">Договор-оферту</a>.
            </div>
        </div>
        <div class="row f_m">
            <div class="col-lg-12">
                <div class="">
                    <strong>
                        <span>
                            @Html.ActionLink("На главную", "About", "Home", null, new { @class = "f_m_a" })
                        </span>
                        <span class="f_m_b">|</span>
                        <span>
                            @Html.ActionLink("Обратная связь", "Support", "Home", null, new { @class = "f_m_a" })
                        </span>
                        <span class="f_m_b">|</span>
                        <span>
                            @Html.ActionLink("Карта торгов", "Map", "Tender", null, new { @class = "f_m_a" })
                        </span>
                        <span class="f_m_b">|</span>
                        <span>
                            @Html.ActionLink("Новости сайта", "Blog", "Home", null, new { @class = "f_m_a" })
                        </span>
                        <span class="f_m_b">|</span>
                        <span>
                            @Html.ActionLink("Специальные акции", "Torgs", "Docs", null, new { @class = "f_m_a" })
                        </span>
                        <span class="f_m_b">|</span>
                        <span>
                            @Html.ActionLink("Документы", "Index", "Docs", null, new { @class = "f_m_a" })
                        </span>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
