
<style>
    div .menu-space {
        padding-bottom: 10px;
    }
</style>
<div class="widget menu-left left-color">
    @if (ViewBag.IsAuth == true)
    {
        <p>
            <i class="icon-briefcase"></i>

            @Html.ActionLink("Моя Визитка", "Card", "Account", new { user = ViewBag.UserLogin }, new { @style = "color: #000000" })
            @Html.ActionLink(" ред.", "Profile", "Account", null, new { @style = "color: gray; font-size: 10px;" })
        </p>

        <p>
            <a href="~/Tender/Active">
                Заявки От Заказчиков
                @if (ViewBag.ActiveCount > 0)
                {
                    @: <span class="left-side-counter">+@ViewBag.ActiveCount</span>
                }
            </a>

        </p>
        <p>
            @Html.ActionLink("Мои Предложения Заказчикам", "List", "Tender", null, new { @style = "color: #000000;" })
        </p>
        <p>
            <a href="~/Tender/Winner">
                Победы В Аукционных-торгах
                @if (ViewBag.WinnerCount > 0)
                {
                    @: <span class="left-side-counter">+@ViewBag.WinnerCount</span>
                }
            </a>
        </p>
        <p>@Html.ActionLink("Доступ К Заявкам от Заказчиков", "Index", "Pay", null, new { @style = "color: #000000" })</p>

        <div style="font-size: 12px;">
            @if (this.ViewBag.PayEnd != null)
            {
                if (this.ViewBag.PayEnd is string)
                {
                    <div>
                        @if (!string.IsNullOrEmpty(this.ViewBag.PayEnd.ToString()))
                        {
                            <div class="alert alert-success">
                                Доступ к заявкам и право участия в аукционных-торгах оплачены до: @this.ViewBag.PayEnd.ToString()
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                Доступ к заявкам не оплачен/Вы в статусе  заказчика услуг.
                            </div>
                        }

                    </div>
                }
                else
                {
                    if (this.ViewBag.PayEnd != null)
                    {
                        <div class="alert alert-success">
                            Доступ к заявкам и право участия в аукционных-торгах оплачены до: @this.ViewBag.PayEnd.ToString()
                        </div>
                    }
                }
            }
            else
            {
                <div style="font-size: 12px;" class="alert alert-info">
                    Доступ к заявкам не оплачен
                </div>
            }
        </div>

        <hr />
    }
    else
    {
        <p>@Html.ActionLink("Как Это Работает", "AboutWork", "Docs", null, new { @style = "color: #000000;" })</p>
        <hr />
    }
</div>
<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="#" target="_blank">
        <img src="~/Content/images/avtograph.gif" style="width: 70%" />
    </a>
</div>