
<style>
    div .menu-space {
        padding-bottom: 10px;
    }
</style>
<div class="widget">
    @if (ViewBag.IsAuth == true)
    {
        <p>
            @Html.ActionLink("Моя визитка", "Card", "Account", new { user = ViewBag.UserLogin }, new { @style = "color: #000000" })
            @Html.ActionLink(" ред.", "Profile", "Account", null, new { @style = "color: gray; font-size: 10px;" })
        </p>

        <p>@Html.ActionLink("Новая заявка", "Index", "Tender", null, new { @style = "color: #000000;" })</p>

        <p>
            @Html.ActionLink("Мои заявки - я ищу", "My", "Tender", null, new { @style = "color: #000000;" })
        </p>

        if (ViewBag.ActiveTendersCount == 0)
        {

            var count = ViewBag.ActiveCount != 0 ? string.Format("<strong>{0}</strong>", ViewBag.ActiveCount) : string.Empty;
            var activeTitle = string.Format("Заявки от клиентов {0}", count);

            <p>
                @Html.ActionLink((string)activeTitle, "Active", "Tender", null, new { @style = "color: #000000;" })
            </p>
        }
        else
        {
            var value = (string)(string.Format("Заявки от клиентов ({0})", ViewBag.ActiveTendersCount).ToString());

            <p>@Html.ActionLink(value, "Active", "Tender", null, new { @style = "color: #000000;" })</p>
        }
        <p>
            @Html.ActionLink("Мои предложения заказчикам - я предлагаю", "List", "Tender", null, new { @style = "color: #000000;" })
        </p>
        <p>
            @{
        var count2 = ViewBag.WinnerCount != 0 ? string.Format("<strong>{0}</strong>", ViewBag.WinnerCount) : string.Empty;
        var winnerTitle = string.Format("Мои победы в торгах {0}", count2);
            }
            @Html.ActionLink((string)winnerTitle, "Winner", "Tender", null, new { @style = "color: #000000;" })
        </p>
        <p>@Html.ActionLink("Стать продавцом услуг/Доступ к заявкам", "Index", "Pay", null, new { @style = "color: #000000" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Как это работает", "AboutWork", "Docs", null, new { @style = "color: #000000;" })</p>
    }


</div>
<div style="padding-top: 10px;"></div>
<a href="http://banketkazan.ru/" target="_blank">
    <img src="~/Content/images/nartsiss.svg" style="width: 100%" />
</a>