<style>
    div .menu-space {
        padding-bottom: 10px;
    }
</style>
<div class="widget">
    @if (ViewBag.IsAuth == true)
    {
        <p>@Html.ActionLink("На главную", "Index", "Home", null, new { @style = "color: #285680;" })</p>
        <div class="menu-space"></div>
        <p>
            @Html.ActionLink("Моя визитка", "Card", "Account", new { user = ViewBag.UserLogin }, new { @style = "color: #245071" })
            @Html.ActionLink(" ред.", "Profile", "Account", null, new { @style = "color: gray; font-size: 10px;" })
        </p>
        if (ViewBag.UnreadedMessages == 0)
        {
            <p>@Html.ActionLink("Сообщения", "Index", "Message", null, new { @style = "color: #245071;" })</p>
        }
        else
        {
            var value = (string)(string.Format("Сообщения ({0})", ViewBag.UnreadedMessages).ToString());

            <p>@Html.ActionLink(value, "Index", "Message", null, new { @style = "color: #245071;" })</p>
        }
        <div class="menu-space"></div>
        <p>@Html.ActionLink("Мои заявки на услуги", "My", "Tender", null, new { @style = "color: #245071;" })</p>

        if (ViewBag.ActiveTendersCount == 0)
        {
            <p>@Html.ActionLink("Заявки на Ваши услуги", "List", "Tender", null, new { @style = "color: #245071;" })</p>
        }
        else
        {
            var value = (string)(string.Format("Заявки на Ваши услуги ({0})", ViewBag.ActiveTendersCount).ToString());
            <p>@Html.ActionLink(value, "List", "Tender", null, new { @style = "color: #245071;" })</p>
        }
        <p>@Html.ActionLink("Активные торги", "Active", "Tender", null, new { @style = "color: #245071;" })</p>
        <p>@Html.ActionLink("Завершённые торги", "Closed", "Tender", null, new { @style = "color: #245071;" })</p>
        <p>@Html.ActionLink("Визитница", "Index", "Card", null, new { @style = "color: #245071" })</p>
        <div class="menu-space"></div>
        <p>@Html.ActionLink("Стать продавцом", "Index", "Pay", null, new { @style = "color: #245071" })</p>
        <p>@Html.ActionLink("Связаться с нами", "Support", "Home", null, new { @style = "color: #245071;" })</p>
        <p>@Html.ActionLink("О меню", "AboutMenu", "Docs", null, new { @style = "color: gray; font-style: oblique" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Регистрация", "AboutWork", "Docs", null, new { @style = "color: #245071;" })</p>
        <p>@Html.ActionLink("Как это работает", "AboutWork", "Docs", null, new { @style = "color: #245071;" })</p>
    }
    
</div>
