
<style>
    div .menu-space {
        padding-bottom: 10px;
    }
</style>
<div class="widget">
    @if (ViewBag.IsAuth == true)
    {
        <p>
            @Html.ActionLink("Моя Визитка", "Card", "Account", new { user = ViewBag.UserLogin }, new { @style = "color: #000000" })
            @Html.ActionLink(" ред.", "Profile", "Account", null, new { @style = "color: gray; font-size: 10px;" })
        </p>

        <p>@Html.ActionLink("Новая Заявка", "Index", "Tender", null, new { @style = "color: #000000;" })</p>

        <p>
            @Html.ActionLink("Мои Заявки - Я ищу", "My", "Tender", null, new { @style = "color: #000000;" })
        </p>

        if (ViewBag.ActiveCount == 0)
        {

            var count = ViewBag.ActiveCount != 0 ? string.Format("{0}", ViewBag.ActiveCount) : string.Empty;
            var activeTitle = string.Format("Заявки От Заказчиков {0}", count);

            <p>
                @Html.ActionLink((string)activeTitle, "Active", "Tender", null, new { @style = "color: #000000;" })
            </p>
        }
        else
        {
            var value = (string)(string.Format("Заявки От Заказчиков ({0})", ViewBag.ActiveCount).ToString());

            <p>@Html.ActionLink(value, "Active", "Tender", null, new { @style = "color: #000000;" })</p>
        }
        <p>
            @Html.ActionLink("Мои Предложения Заказчикам", "List", "Tender", null, new { @style = "color: #000000;" })
        </p>
        <p>
            @{
        var count2 = ViewBag.WinnerCount != 0 ? string.Format("<strong>{0}</strong>", ViewBag.WinnerCount) : string.Empty;
        var winnerTitle = string.Format("Мои Победы В Торгах {0}", count2);
            }
            @Html.ActionLink((string)winnerTitle, "Winner", "Tender", null, new { @style = "color: #000000;" })
        </p>
        <p>@Html.ActionLink("Доступ К Заявкам от Заказчиков", "Index", "Pay", null, new { @style = "color: #000000" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Как Это Работает", "AboutWork", "Docs", null, new { @style = "color: #000000;" })</p>
    }


</div>
<div style="padding-top: 10px;"></div>
<a href="http://banketkazan.ru/" target="_blank">
    <img src="~/Content/images/nartsiss.gif" style="width: 100%" />
</a>
<span>
    @Html.ActionLink("Рекламодателям", "support", "Home", null, new { @class = "f_m_a" })
</span>
