@model MyTend.Models.CardModel

@{
    ViewBag.Title = "Визитная карточка: " + Model.FullName;
    var parts = Model.FullName.Split(' ');
    var secondname = Model.FullName;
    var firstname = string.Empty;

}
<script>
    var openTabParam = "@ViewBag.OpenTabParam",
        phone = "@Model.Phone",
        phoneHide = phone ? phone.substr(0, 5) : "",
        hidePhone = function (){
            var el = $('#phone-place');

            if(el){
                el.text(phoneHide + '****');
            }
        },
        showPhone = function(){
            var el = $('#phone-place');

            if(el){
                el.text(phone);
            }
        };

    $(document).ready(function(){
        hidePhone();

        var el = $('#showPhone');
        el.click(showPhone);
    });

</script>
<br />
<h2 style="font-weight; color: #282828">
    @Model.FullName.ToUpper()
</h2>

@if (!string.IsNullOrEmpty(Model.AboutShort))
{
    <div class="card-block">
        <div class="card-table-content" style="word-wrap: break-word; color: #282828; font-size: 17px;"> 
            @Model.AboutShort 
        </div>
    </div>
    
}

<div class="card-block">
    <div class="card-table-content" style="word-wrap: break-word; color: #8a8a8a; font-size: 17px;">
        <h6><img src="~/Content/images/geo2.png" width="15" height="15" /><strong>@string.Format("{1}, {2}", Model.City.Region.Country.Name, Model.City.Region.Name, Model.City.Name)</strong></h6>
    </div>
</div>
<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<script type="text/javascript">
  VK.init({apiId: 6365308, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button"});
</script>

<div class="row">
    <div class="col-md-12" style="text-align: right;"><i class=" glyphicon glyphicon-pencil" style="color: #07a7fa;"></i>
        @if (Model.Login == ViewBag.UserLogin)
        {
            @Html.ActionLink("Редактировать визитку", "Profile", "Account", new { @tab = "tab5-1" }, null)
        }
    </div>
</div>

<div class="row" style="min-height: 350px; padding-bottom: 150px;">
    <div class="col-md-4 col-sm-12">
        <div style="padding-top: 5px;">
            @if (Model.Avatar != null)
            {
                <img src="/Image/Get?id=@Model.Avatar.Id" width="300" height="300" class="img-thumbnail" id="avatar">
            }
            else
            {
                <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
            }
        </div>

        <br />
        
        @if (!string.IsNullOrEmpty(Model.Phone))
        {	
            <div class="card-block">
                <div class="card-table-content"><h3 style="font-weight: bold; color: #222222"> <div id="phone-place"></div> </h3></div>
            </div>
            <div>
                <div id="showPhone" style="cursor: pointer; color: #60b521"><span class="glyphicon glyphicon-eye-open"></span>
Показать телефон</div>
            </div>
        }
        <br />
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <div class="card-block">
                <div class="card-table-content"> <h5><a href="mailto:@Model.Email"><img src="~/Content/images/mail.png" width="20" height="20" /> @Model.Email</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Site))
        {
            <div class="card-block">
                <div class="card-table-content">  <h5><a target="_blank" href="@Model.Site"><img src="~/Content/images/www.png" width="20" height="20" /> @Model.Site.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Youtube))
        {
            <div class="card-block">
                <div class="card-table-content"><h5><a target="_blank" href="@Model.Youtube"><img src="~/Content/images/youtube.png" width="20" height="20" /> @Model.Youtube.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.VKontakte))
        {
            <div class="card-block">
                <div class="card-table-content"><h5><a target="_blank" href="@Model.VKontakte"><img src="~/Content/images/vkontakte.ico" width="20" height="20" />  @Model.VKontakte.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Instagram))
        {
            <div class="card-block">
                <div class="card-table-content"><h5><a target="_blank" href="@Model.Instagram"><img src="~/Content/images/instagram.png" width="20" height="20" /> @Model.Instagram.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        <br />
			
    </div>
	<div style="text-align: center;">
           <div class="title-line">Об услуге</div>
		   </div>
		   

    <div class="col-md-8">
        <div class="card-table">

            <div style="padding-bottom: 50px;">
				@if (Model.Portfolio != null)
                {
                <h5 style="line-height: 20px;">
                    @Html.Raw(Model.Portfolio.Replace("\n", "</br>"))
                </h5>
				}
            </div>
			<div style="text-align: center;"><br>
    
           <div class="title-line">Портфолио</div>
		   </div>
		   <div class="row">
    <div class="col-md-12" style="text-align: right;"><i class=" glyphicon glyphicon-picture" style="color: #07a7fa;"></i>
        @if (Model.Login == ViewBag.UserLogin)
        {
            @Html.ActionLink("Добавить / удалить фото", "Profile", "Account", new { @tab = "tab5-2" }, null)
        }
    </div>
</div>

            <div id="gallery"  class="ug-gallery-wrapper ug-theme-tiles">
                @foreach (var file in Model.Portfiles)
                {
                    <img src="~/File/get?id=@file.Id" data-image="/File/get?id=@file.Id" class="ug-tile-icon ug-button-play ug-icon-zoom" />
                }
            </div>
			 

            <script language="javascript">
                    $(document).ready(function () {
                        $("#gallery").unitegallery();
                    });
            </script>
			
<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<script type="text/javascript">
  VK.init({apiId: 6365308, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
</script>

        </div>
    </div>
</div>




