@model MyTend.Models.CardModel

@{
    ViewBag.Title = "Визитная карточка:" + Model.FullName;
}

<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="font_black active"><a href="#tab5-1" data-toggle="tab"><i class="icon-star"></i>Визитка</a></li>
        <li class="font_black z"><a href="#tab5-2" data-toggle="tab">Портфолио</a></li>
        @if(Model.AboutFull.Length > 0)
        {
            <li class="font_black"><a href="#tab5-3" data-toggle="tab">О нас</a></li>
        }
        <li class="font_black"><a href="#tab5-3" data-toggle="tab">О нас</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            <div class="row">
                <div class="col-md-4">
                    <img alt="@Model.FullName" src="~/Image/Get?id=@Model.Id" width="300" height="300" class="img-thumbnail">
                    <div class="card-adding widget" style="padding-top: 10px;">
                        <ul class="categories">
                            <li><a href="#" onclick="AddFriend('@Model.Login')"><i class="fa fa-star"></i>Добавить в визитницу</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    @if (ViewBag.User != null && ViewBag.User.Id == Model.Id)
                    {
                        <div style="width: 100%; text-align: right">
                            @Html.ActionLink("Редактировать визитку", "Profile", "Account", null, new { @style = "font-style: italic; color: #BEB7B7;" })
                        </div>
                    }
                    <div class="card-table">
                        <p>
                            <h2>
                                @Model.FullName
                            </h2>
                        </p>
                        @if (!string.IsNullOrEmpty(Model.AboutFull))
                        {
                            <div class="card-block">
                                <div class="card-title">Обо мне</div>
                                <div>@Model.AboutShort</div>
                            </div>
                        }
                        @if (Model.City != null)
                        {
                            <div class="card-block">
                                <div class="card-title">я живу</div>
                                <div>@Model.City.Region.Name</div>
                                <div>@Model.City.Name</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Phone))
                        {
                            <div class="card-block">
                                <div class="card-title">Телефон</div>
                                <div>@Model.Phone</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Phone2))
                        {
                            <div class="card-block">
                                <div class="card-title">Доп. телефон</div>
                                <div>@Model.Phone2</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <div class="card-block">
                                <div class="card-title">Мой Email</div>
                                <div>@Model.Email</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Site))
                        {
                            <div class="card-block">
                                <div class="card-title">Мой сайт</div>
                                <div>@Model.Site</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Skype))
                        {
                            <div class="card-block">
                                <div class="card-title">мой skype</div>
                                <div>@Model.Skype</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.VKontakte))
                        {
                            <div class="card-block">
                                <div class="card-title">Моя страничка ВКонтакте</div>
                                <div>@Model.VKontakte</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Instagram))
                        {
                            <div class="card-block">
                                <div class="card-title">Моя страничка Instagram</div>
                                <div>@Model.Instagram</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Facebook))
                        {
                            <div class="card-block">
                                <div class="card-title">Моя страничка Facebook</div>
                                <div>@Model.Facebook</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="tab5-3">
            @Html.Raw(Model.AboutFull.Replace("\n", "</br>"));
        </div>
    </div>
</div>
<script src="~/Scripts/app/addFriend.js"></script>