@model MyTend.Models.CardModel

@{
    ViewBag.Title = "Визитная карточка: " + Model.FullName;
    var parts = Model.FullName.Split(' ');
    var secondname = Model.FullName;
    var firstname = string.Empty;

}
<script>
    var openTabParam = "@ViewBag.OpenTabParam",
        phone = @Model.Phone,
        phoneHide = phone ? phone.toString().substr(0, 5) : "",
        hidePhone = function (){
            var el = $('#phone-place');

            if(el){
                el.text(phoneHide + '****');
            }
        },
        showPhone = function(){
            var el = $('#phone-place');

            if(el){
                el.text(phone);
            }
        };

    $(document).ready(function(){
        hidePhone();

        var el = $('#showPhone');
        el.click(showPhone);
    });

</script>

<h2 style="font-weight; color: #222222">
    @Model.FullName.ToUpper()
</h2>

@if (!string.IsNullOrEmpty(Model.AboutShort))
{
    <div class="card-block">
        <div class="card-table-content" style="word-wrap: break-word; color: #8a8a8a; font-size: 16px;"> 
            @Model.AboutShort 
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12" style="text-align: right;"><i class=" glyphicon glyphicon-pencil" style="color: #07a7fa;"></i>
        @if (Model.Login == ViewBag.UserLogin)
        {
            @Html.ActionLink("Редактировать", "Profile", "Account", new { @tab = "tab5-1" }, null)
        }
    </div>
</div>

<div class="row" style="min-height: 350px; padding-bottom: 150px;">
    <div class="col-md-4 col-sm-12">
        <div style="padding-top: 5px;">
            @if (Model.Avatar != null)
            {
                <img src="/Image/Get?id=@Model.Avatar.Id" width="300" height="300" class="img-thumbnail" id="avatar">
            }
            else
            {
                <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
            }
        </div>

        <br />
        @if (Model.City != null)
        {
            <div class="card-block">
                <div class="card-table-content"><i class="glyphicon glyphicon-globe" style="color: #07a7fa;"></i> @string.Format("{1}, {2}", Model.City.Region.Country.Name, Model.City.Region.Name, Model.City.Name)</div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Phone))
        {	
            <div class="card-block">
                <div class="card-table-content"><h3> <div id="phone-place"></div> </h3></div>
            </div>
            <div>
                <div id="showPhone" style="cursor: pointer; color: #00ca6e">Показать телефон</div>
            </div>
        }
        <br />
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <div class="card-block">
                <div class="card-table-content"> <h5><a href="mailto:@Model.Email"><img src="~/Content/images/mailicon.png" /> @Model.Email</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Site))
        {
            <div class="card-block">
                <div class="card-table-content">  <h5><a href="@Model.Site"><img src="~/Content/images/siteicon.png" /> @Model.Site.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Youtube))
        {
            <div class="card-block">
                <div class="card-table-content"><h5><a href="@Model.Youtube"><img src="~/Content/images/Youtubeicon.png" /> @Model.Youtube.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.VKontakte))
        {
            <div class="card-block">
                <div class="card-table-content"><h5><a target="_blank" href="@Model.VKontakte"><img src="~/Content/images/VKicon.png" />  @Model.VKontakte.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></h5> </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Instagram))
        {
            <div class="card-block">
                <div class="card-table-content"> <a href="@Model.Instagram"><img src="~/Content/images/instagammicon.png" /> @Model.Instagram.ToLower().Replace("http://", string.Empty).Replace("https://", string.Empty)</a></div>
            </div>
        }
        <br />
			<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

<script type="text/javascript">
    VK.init({ apiId: 5404169, onlyWidgets: true });
</script>

<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
    VK.Widgets.Like("vk_like", { type: "button" });
</script>

<script src="~/Scripts/app/openTab.js"></script>
    </div>
	<div style="text-align: center;"><br>
    
           <div class="title-line">Об услуге</div>
		   </div>

    <div class="col-md-8">
        <div class="card-table">

            <div style="padding-bottom: 50px;">
				@if(Model.Portfolio != null)
				{
					<div>
						@Html.Raw(Model.Portfolio.Replace("\n", "</br>"))
					</div>
				}
            </div>
			<div style="text-align: center;"><br>
    
           <div class="title-line">Портфолио</div>
		   </div>

            <div id="gallery" style="display:none; padding-bottom: 10px;">
                @foreach (var file in Model.Portfiles)
                {
                    <img src="~/File/get?id=@file.Id" data-image="/File/get?id=@file.Id" data-description="" style="display:none" />
                }
            </div>
			 

            <script language="javascript">
                    $(document).ready(function () {
                        $("#gallery").unitegallery();
                    });
            </script>

        </div>
    </div>
</div>



