@model MyTend.Models.ProfileModel

@{
    ViewBag.Title = "Редактирование Визитки";
}
<br />
<br />


<H3> Мои персональные данные, подписка на конкурсные торги   </H3>

<script>
    var openTabParam = "@ViewBag.OpenTabParam",
        userData = {
            login: "@ViewBag.UserLogin"
        };

</script>

@if (ViewBag.IsSubRegions == false || ViewBag.IsSubTenders == false)
{
    <div class="alert alert-success" role="alert">
        @if (ViewBag.IsSubRegions == false)
        {
            <div>
                - Укажите регионы и города в которых Вы исполняете услуги (только исполнителям услуг)
            </div>
        }
        @if (ViewBag.IsSubTenders == false)
        {
            <div>
                - Укажите категории заявок/торгов от заказчиков которые Вы оказываете (только исполнителям услуг)
            </div>
        }
        @if (Model.Errors != null && Model.Errors.Count > 0)
        {
            foreach (var error in Model.Errors)
            {
                <div>
                    @string.Format("- {0}", error)
                </div>
            }
        }
    </div>
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class=""><a href="#tab5-1" data-toggle="tab" style="text-decoration: none;"><span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #333333;"></span> Визитка</a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab" style="text-decoration: none;"><span class="glyphicon glyphicon-picture" aria-hidden="true" style="color: #333333;"></span> Портфолио</a></li>
        <li class=""><a href="#tab5-3" data-toggle="tab" style="text-decoration: none;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color: #333333;"></span> Об услуге</a></li>
        <li class=""><a href="#tab5-4" data-toggle="tab" style="text-decoration: none;"><span class="glyphicon glyphicon-list" aria-hidden="true" style="color: #333333;"></span> Подписка услуг</a></li>
        <li class=""><a href="#tab5-5" data-toggle="tab" style="text-decoration: none;"><span class="glyphicon glyphicon-globe" aria-hidden="true" style="color: #333333;"></span> Регионы, города</a></li>
    </ul>

    <div class="tab-content">
        <!-- Редактирвоание профиля (основное) -->
        <div class="tab-pane active" id="tab5-1">

            <div class="row">
                <div class="col-md-4" style="text-align: center;">

                    @if (Model.Avatar != null)
                    {
                        <img src="/Image/Get?id=@Model.Avatar.Id" width="300" height="300" class="img-thumbnail" id="avatar">
                    }
                    else
                    {
                        <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
                    }
                    <input type="file" accept="image/*" name="AvatarFile" id="AvatarFile" style="padding-top: 10px; padding-bottom: 10px;" />
                    <div class="row" style="text-align: center;">
                        <div style="padding: 20px 0px 20px 0px; text-align: left;">
                           Выберите и загрузите свой фото-аватар.  Если вы частная компания, Вы можете загрузить свой логотип.
                        </div>
                        <button type="button" class="btn btn-custom-orange" id="updateProfile">Сохранить изображение</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Логин</label>
                                <input type="email" class="form-control" name="LoginName" placeholder="my@mail.ru" value="@Model.Login" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Электронная почта</label>
                                <input type="email" class="form-control" name="Email" placeholder="my@mail.ru" value="@Model.Email" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Пароль (только если необходимо сменить пароль)</label>
                                <input type="password" min="5" class="form-control" name="Password" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Повторить пароль</label>
                                <input type="password" min="5" class="form-control" name="PasswordRetry" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">Ваше имя или псевдоним, название банкетного зала, название компании</label>
                                <input type="text" class="form-control" name="FullName" placeholder="Иванов Иван/dj.Антон/Банкетный Зал «У Палыча»" maxlength="80" value="@Model.FullName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">Кем Вы работаете, чем занимаетесь? (до 80 символов)</label>
                                <input type="text" class="form-control" name="AboutShort" maxlength="80" placeholder="Ведущий/DJ/организация торжеств/банкетов/дирректор завода/домохозяйка" value="@Model.AboutShort">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ваш телефон (обязательно для всех)</label>
                                <input type="text" class="form-control" name="Phone" placeholder="+79991112233" maxlength="20" value="@Model.Phone">
                            </div>
                        </div>
                    </div>
					<div style="text-align: left;">
    
           <div class="title-line"> <span style="color: #f45656;"><big><span class="glyphicon glyphicon-star" aria-hidden="true" style="color: #51bbec;"></span></big>
Рекомендуем заполнять только исполнителям услуг</span></div>
  
</div>

					
                 <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name">Адрес Вашего сайта</label>
                                <input type="url" class="form-control" name="Site" placeholder="Адрес вашего сайта " maxlength="40" value="@Model.Site">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name">У вас есть видео-канал Youtube ?</label>
                                <input type="url" class="form-control" name="Youtube" placeholder="Youtube" maxlength="40" value="@Model.Youtube">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name">Ваша страница или группа ВКонтакте </label>
                                <input type="url" class="form-control" name="VKontakte" placeholder="Ваша страничка в ВКонтакте" maxlength="50" value="@Model.VKontakte">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name">Вы ведете Instagram ?</label>
                                <input type="url" class="form-control" name="Instagram" placeholder="Укажите всю ссылку Instagram целиком" maxlength="50" value="@Model.Instagram">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px 0px 20px 0px; text-align: center;">
                    Нажатие кнопки «Сохранить» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                </div>
                <div class="row" style="text-align: center;">
                    <button type="button" class="btn btn-custom-orange" id="updateProfile">Сохранить данные</button>
                </div>
                <div class="row">
                    <div class="col-lg-12 errorBox"></div>
                </div>
            </div>

            <script>
                $('button[id=updateProfile]').bind('click', function (el) {
                    var ani = new kamati.animation.dots(el.currentTarget);
                    ani.start();

                    var avatarFile = document.getElementById('AvatarFile').files;

                    if(avatarFile.length > 0) {
                        avatarFile = avatarFile[0];
                    }
                    else {
                        avatarFile = null;
                    }

                    var form_data = new FormData();
                    form_data.append("AvatarFile", avatarFile);
                    form_data.append("Login", $('[name=LoginName]').val());
                    form_data.append("Email", $('[name=Email]').val());
                    form_data.append("Password", $('[name=Password]').val());
                    form_data.append("PasswordRetry", $('[name=PasswordRetry]').val());
                    form_data.append("FullName", $('[name=FullName]').val());
                    form_data.append("AboutShort", $('[name=AboutShort]').val());
                    form_data.append("Phone", $('[name=Phone]').val());
                    form_data.append("Phone2", $('[name=Phone2]').val());
                    form_data.append("Site", $('[name=Site]').val());
                    form_data.append("VKontakte", $('[name=VKontakte]').val());
                    form_data.append("Instagram", $('[name=Instagram]').val());
                    form_data.append("Skype", $('[name=Skype]').val());
                    form_data.append("Youtube", $('[name=Youtube]').val());

                    $.ajax({
                        type: 'POST',
                        url: '/Account/UpdateProfile',
                        data: form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            ani.stop();
                            if (data.Success) {
                                var url = window.location.origin + window.location.pathname + "?tab=tab5-1";
                                window.location = "Card?user=" + userData.login + "&tab=tab5-1";
                            }
                        },
                        error: function(data){
                            ani.stop();
                            showError(data.responseJSON.Data);
                        }
                    });
                });
            </script>
        </div>

        <!-- Портфолио -->
        <div class="tab-pane" id="tab5-2">
            <div style="padding-bottom: 20px;">
					<br />

		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/port.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Портфолио вашей услуги.
				</div>
                <div style="font-size: 14px;">
                Разместите несколько фотографий с вашей работой. Наглядность вашей деятельности увеличит шанс на успех среди заказчиков. <br />
				  <br />
				   <p> <i><span style="color: #f54e4e;">
               Изображения в данном разделе не должны нарушать любые законы РФ об иллюстрациях, изображениях людей, и авторских правах .
             
           </i> </span></p>
                </div>
 </div> </div>
			<br />	
				
            </div>
            @using (Html.BeginForm("UpdateProfiles", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="file" accept="image/*" class="form-control" name="ProfileFiles" multiple />
                            <div style="color: #222222"><strong>
                                Вы можете загрузить не более 20 фотографий, размером не более 2.5 Мб каждая)</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @foreach (var item in Model.Portfolios)
                    {
                        <div class="col-lg-2" id="portFile-@item.Id">
                            <div style="padding-top: 20px; padding-bottom: 20px;">
                                <div>
                                    <a href="~/File/get?id=@item.Id" target="_blank">
                                        <img src="~/File/get?id=@item.Id" style="width: 100px; height: 100px;" />
                                    </a>
                                </div>
                                <div style="text-align: center">
                                    <div style="text-decoration: underline; cursor: pointer" onclick="removePortFile(@item.Id)">Удалить фото</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div style="padding: 20px 0px 20px 0px; text-align: center;">
                    Нажатие кнопки «Загрузить» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-custom-orange ladda-button" data-style="expand-left">
                            <span class="ladda-label">Загрузить фото</span>
                        </button>
                    </div>
                </div>
            }
            <script>
                function removePortFile(id) {
                    $.ajax({
                        type: 'POST',
                        url: '/Account/RemovePortfile',
                        data: {
                            id: id,
                            userId: @Model.Id
                            },
                        success: function (data) {
                            $('#portFile-' + id).remove();
                        }
                    });
                }
            </script>
        </div>

        <!-- Об услуге -->
        <div class="tab-pane" id="tab5-3">
            <div style="padding-bottom: 20px;">
					<br />

		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/obusluge.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;"> Об услуге, которую Вы оказываете.
				</div>
                <div style="font-size: 14px;">
                 В данном разделе опишите  об услуге, которую Вы оказываете. <br />
				  Максимальная  длина текста, до<strong>  20.000</strong> символов.<br /> <br />
				   <p> <i><span style="color: #f54e4e;">
                Информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции.
                Утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных, не допускается</i>.
           </span></p>
                </div>
 </div> </div>
			<br />	
				
            <div class="row">
                <form method="post" action="UpdateProfile">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea rows="10" cols="95" name="portfoli" maxlength="20000">@Model.Portfolio</textarea>
                            <br />
                        </div>
                    </div>
                    <div style="text-align: center;"></div>
                    <i>
                        Информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции.
                        Утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных, не допускается
                    </i>.
                    <div class=" form-group">
                        <div class="col-md-12 progress-demo" style="text-align: center; padding-top: 20px;">
                            <button type="button" class="btn btn-custom-orange ladda-button" data-style="expand-left" onclick="savePortfolio(this)">Сохранить текст</button>
                        </div>
                    </div>
                </form>
            </div>
                <script>
                    function savePortfolio(el) {
                        var ani = new kamati.animation.dots(el);
                        ani.start();

                        var portfolio = $('[name=portfoli]').val();

                        $.ajax({
                            type: 'POST',
                            url: '/Account/UpdateAbout',
                            data: {
                                portfolio: portfolio
                            },
                            success: function (data) {
                                ani.stop();
                                window.location = "Card?user=" + userData.login + "&tab=tab5-2";
                            }
                        });
                    }
                </script>
            </div>
        </div>

        <!-- Тендеры -->
        <div class="tab-pane" id="tab5-4">
	
          

            <div style="padding-bottom: 20px;">
              		<br />

		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/podpiska.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Подпишитесь на заявки по видам услуг.
				</div>
                <div style="font-size: 14px;">
                  Найдите в списке тем, услуги которые Вы  готовы оказывать, и поставьте галочки. Заявки будут приходить только по этим услугам. <br />
				  Максимальное количество выбранных услуг - 15.
				  
                </div>
 </div> </div>
			<br />	
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="SubTender">
                        <div class="wp-example" id="accordions">
                            <div class="panel-group" id="accordionThree">
                                @{
                                    var i = 0;
                                }
                                @foreach (var theme in Model.TenderThemes)
                                {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionThree" href="@string.Format("#collapse{0}a", i)" class="collapsed">
                                                @theme.Key
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="@string.Format("collapse{0}a", i)" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="row">
                                                @foreach (var title in theme.Value)
                                                {
                                                    <div class="col-md-8">
                                                        @if (!title.IsTitle)
                                                        {
                                                            <h5>@title.Title</h5>
                                                        }
                                                        else
                                                        {
                                                        <div style="font-weight: bold; color: #950f81">
                                                            <h5>@title.Title</h5>
                                                        </div>
                                                        }
                                                    </div>
                                                    <div class="col-md-4">
                                                        @if (!title.IsTitle)
                                                        {
                                                            <input type="checkbox" name="@title.Id" id="@title.Id" class="subCheck" />
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div style="padding-top: 20px; text-align: center;">
                                                        <button type="button" class="btn btn-custom-orange subThemeBtn" onclick="UpdateSubsciptions(this)">Сохранить / Подписаться</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    i++;
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center; padding-top: 0px;">
                                <button type="button" class="btn btn-custom-orange subThemeBtn" onclick="UpdateSubsciptions(this)">Сохранить / Подписаться</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        

        <!-- Города -->
        <div class="tab-pane" id="tab5-5">
         		<br />

		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/GOROD.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Подпишитесь на заявки из  городов в которых вы оказываете услуги.
				</div>
                <div style="font-size: 14px;">
				Найдите города в которых Вы оказыаете свои услуги, и поставьте галочки, что  бы получать заявки на исполнение услуг в этих городах.
                <br />
				  Что бы отписаться от города, уберите галочку.
				  <br />
				  Максимальное количество выбранныхгородов - 15.
				  
                </div>
 </div> </div>
			<br />	
		<h2>Россия</h2>
			
            <div class="row">
                <div class="col-lg-8">
                    <div class="wp-example" id="accodrions2">
                        <div class="panel-group" id="accordionTree2">
                            @{ 
                                i++;
                            }
                            @foreach (var region in Model.GroupCitys)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionThree" href="@string.Format("#collapse{0}a", i)" class="collapsed">
                                                @region.Key
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                                <div id="@string.Format("collapse{0}a", i)" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            @foreach (var city in region.Value)
                                            {
                                                <div class="col-md-4">
                                                    <h5>@city.Name</h5>
                                                </div>
                                                <div class="col-md-8">
                                                    @if (Model.SubCitys.FirstOrDefault(x => x.Id == city.Id) != null)
                                                    {
                                                    <input type="checkbox" name="@city.Id" id="@string.Format("{0}", city.Id)" class="subCity" checked/>
                                                    }
                                                    else
                                                    {
                                                    <input type="checkbox" name="@city.Id" id="@string.Format("{0}", city.Id)" class="subCity" />
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                i++;
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-8"></div>
            </div>
            <!-- Города0 -->
            <script>
                $(document).ready(function () {
                    var max = 10;

                    $('input.subCheck').on('click', function (el) {
                        var selected = $('input.subCheck');

                        var sel = 0;

                        for (var i = 0; i < selected.length; i++) {
                            if (el.target != selected[i]) {
                                if (selected[i].checked == true) {
                                    sel++;
                                }

                                if (sel == max) {
                                    break;
                                }
                            }
                        }

                        if (sel == max) {
                            el.target.checked = false;
                        }
                    });
                });

                function UpdateSubsciptions() {

                    $('button.subThemeBtn').attr('disabled', 'disabled');
                    var subs = [];

                    var selected = $('input.subCheck');

                    for (var i = 0; i < selected.length; i++) {
                        if (selected[i].checked == true) {
                            subs.push({ Id: selected[i].id });
                        }
                    }

                    $.ajax({
                        url: '/Account/UpdateSubThemes',
                        data: {
                            ListThemes: subs
                        },
                        type: 'POST',
                        success: function (resp) {
                            var url = window.location.origin + window.location.pathname + "?tab=tab5-4";
                            //window.location = url;
                            $('button.subThemeBtn').removeAttr('disabled');
                        }
                    });
                }

                function setChecked(data) {
                    for (var i = 0; i < data.length; i++) {
                        var selected = $('input.subCheck[id=' + data[i].Id + ']');

                        if (selected.length > 0) {
                            selected.attr('checked', true);
                        }
                    }
                }

                $(document).ready(function () {
                    $.ajax({
                        url: '/Account/GetSubThemes',
                        type: 'POST',
                        success: function (resp) {
                            setChecked(resp.Data);
                        }
                    });
                });
            </script>
            
            <script src="~/Scripts/app/subRegions.js"></script>
        </div>
    </div>
</div>
<script src="~/Scripts/app/openTab.js"></script>
 <br /> <br />