@model MyTend.Models.ProfileModel

@{
    ViewBag.Title = "Профиль";
}

@if (ViewBag.IsSubRegions == false || ViewBag.IsSubTenders == false)
{
    <div class="alert alert-danger" role="alert">
        @if(ViewBag.IsSubRegions == false)
        {
            @:- Подпишитесь на категории тендеров <br/>
        }
        @if (ViewBag.IsSubTenders == false)
        {
            @:- Подпишитесь на регионы и города
        }
    </div>
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class=""><a href="#tab5-1" data-toggle="tab">Профиль</a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab">Портфоли</a></li>
        <li class=""><a href="#tab5-3" data-toggle="tab">О нас</a></li>
        <li class=""><a href="#tab5-4" data-toggle="tab">Категории тендеров</a></li>
        <li class=""><a href="#tab5-5" data-toggle="tab">Регионы и города</a></li>
    </ul>

    <div class="tab-content">
        <!-- Редактирвоание профиля (основное) -->
        <div class="tab-pane active" id="tab5-1">
            
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <form id="avatar">
                        <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
                        <input type="file" accept="image/*" name="avatar" style="padding-top: 10px; padding-bottom: 10px;" />
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Логин</label>
                                <input type="email" class="form-control" name="Login" placeholder="my@mail.ru" value="@Model.Login" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Почта</label>
                                <input type="email" class="form-control" name="Email" placeholder="my@mail.ru" value="@Model.Email" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Пароль (смена пароля)</label>
                                <input type="password" min="5" class="form-control" name="Password" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Повторить пароль</label>
                                <input type="password" min="5" class="form-control" name="PasswordRetry" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Name">Полное имя</label>
                                <input type="text" class="form-control" name="FullName" placeholder="Иванов Иван Иванович" value="@Model.FullName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Name">Чем занимаюсь</label>
                                <input type="text" class="form-control" name="AboutShort" placeholder="Чем занимаюсь (кратко)" value="@Model.AboutShort">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ваш телефон</label>
                                <input type="text" class="form-control" name="Phone" placeholder="Ч" value="@Model.Phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ваш телефон (доп)</label>
                                <input type="text" class="form-control" name="Phone2" placeholder="" value="@Model.Phone2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">Ваш сайт</label>
                                <input type="url" class="form-control" name="Site" placeholder="Адрес вашего сайта" value="@Model.Site">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Skype</label>
                                <input type="url" class="form-control" name="Skype" placeholder="Мой адрес в Skype" value="@Model.Skype">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">ВКонтакте</label>
                                <input type="url" class="form-control" name="VKontakte" placeholder="Моя страничка в ВКонтакте" value="@Model.VKontakte">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">Instagram</label>
                                <input type="url" class="form-control" name="Instagram" placeholder="Моя страничка в Instagram" value="@Model.Instagram">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button type="button" id="updateProfile">Сохранить</button>
                    </div>
                </div>
            </div>
            
            <script>
                function showInfo(message, el) {

                }

                $('button[id=updateProfile]').bind('click', function () {
                    
                    var profileInfo = {
                        Login: $('[name=Login]').val(),
                        Password: $('[name=Password]').val(),
                        PasswordRetry: $('[name=PasswordRetry]').val(),
                        Name: $('[name=FullName]').val(),
                        AboutShort: $('[name=AboutShort]').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/Account/UpdateProfile',
                        data: profileInfo,
                        success: function (data) {
                            if (data.Success) {
                                window.location.reload();
                            }
                        }
                    });
                });


            </script>

        </div>

        <!-- Портфолио -->
        <div class="tab-pane" id="tab5-2">

        </div>

        <!-- О нас -->
        <div class="tab-pane" id="tab5-3">

        </div>

        <!-- Тендеры -->
        <div class="tab-pane" id="tab5-3">

        </div>

        <!-- Города -->
        <div class="tab-pane" id="tab5-3">
            <form method="post" action="UpdateProfile">
                <div class="form-group">
                    <label for="SubTheme2" class="control-label col-md-12">Страна</label>
                    <div class="col-md-4">
                        <select class="form-control" name="Country" id="CountrysSelect" required>
                            <option disabled selected>Выберите страну</option>
                            @foreach (var item in Model.ListCountrys)
                            {
                                <option>@item</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="SubTheme2" class="control-label col-md-12">Регион</label>
                    <div class="col-md-4">
                        <select class="form-control" name="Region" id="RegionSelect" required>
                            <option disabled selected>Выберите регион</option>
                            @foreach (var item in Model.ListCountrys)
                            {
                                <option disabled selected>Выберите регион</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="SubTheme2" class="control-label col-md-12">Город</label>
                    <div class="col-md-4">
                        <select class="form-control" name="City" id="CitySelect" required>
                            <option disabled selected>Выберите город</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12" style=" padding-top: 10px;">
                    <button type="button" class="button" onclick="addCityToList()">Добавить город</button>
                    <button type="button" class="button" onclick="addRegionsToList()">Добавить регион</button>
                </div>
                <div class="col-lg-6" id="listCity">

                </div>
                <div class="col-lg-6" id="listRegions">

                </div>
                <div class="form-group">
                    <div class="col-md-12" style=" padding-top: 10px;">
                        <a href="#" class="btn btn-two" onclick="SaveCitys()">Сохранить</a>
                    </div>
                </div>
            </form>

            <script>
                function addCityToList() {
                    var e = $('select#CitySelect')

                    if (e.val() == 'Выберите регион' || e.val() == null) {
                        return;
                    }

                    if (canAdd('city', e.val())) {
                        var id = e.val().toString().replace(/\s/g, '_');
                        var newVal = '<div class="city-block" id="' + id + '"><div class="city-title">'
                            + e.val()
                            + ' <span class="fa fa-trash-o like-link" onclick="removeFromList('
                            + id + ')"></span></div></div>';

                        $('div#listCity').append(newVal);
                    }
                }

                function addRegionsToList() {
                    var e = $('select#RegionSelect')

                    if (e.val() == 'Выберите регион' || e.val() == null) {
                        return;
                    }

                    if (canAdd('region', e.val())) {
                        var id = e.val().toString().replace(/\s/g, '_');
                        var newVal = '<div class="city-block" id="' + id + '"><div class="city-title">'
                            + e.val()
                            + ' <span class="fa fa-trash-o like-link" onclick="removeFromList('
                            + id + ')"></span></div></div>';

                        $('div#listRegions').append(newVal);
                    }
                }

                function removeFromList(id) {
                    if (id) {
                        id.remove()
                    }
                }

                function canAdd(type, name) {
                    var list = null;

                    if (type == 'city') {
                        list = 'listCity';
                    }
                    if (type == 'region') {
                        list = 'listRegions';
                    }

                    var items = $('[id=' + list + '] > div');

                    if (items.length >= 10) {
                        return false;
                    }

                    for (var i = 0; i < items.length; i++) {
                        if (name == items[i].id.toString().replace(/_/g, ' ')) {
                            return false;
                        }
                    }

                    return true;
                }

            </script>

            <style>
                .city-block {
                    max-width: 300px;
                    text-align: center;
                }

                .like-link {
                    cursor: pointer;
                }

                .city-title {
                    margin-top: 5px;
                }
            </style>
        </div>
    </div>
</div>