@model MyTend.Models.ProfileModel

@{
    ViewBag.Title = "Редактирование Визитки";
}
<br />
<br />


<H3> Редактирование визитки   </H3>

<script>
    var openTabParam = "@ViewBag.OpenTabParam",
        userData = {
            login: "@ViewBag.UserLogin"
        };

</script>

@if (ViewBag.IsSubRegions == false || ViewBag.IsSubTenders == false)
{
    <div class="alert alert-success" role="alert">
        @if (ViewBag.IsSubRegions == false)
        {
            <div>
                - Укажите регионы и города в которых Вы исполняете услуги (только исполнителям услуг)
            </div>
        }
        @if (ViewBag.IsSubTenders == false)
        {
            <div>
                - Укажите категории заявок/торгов от заказчиков которые Вы оказываете (только исполнителям услуг)
            </div>
        }
        @if (Model.Errors != null && Model.Errors.Count > 0)
        {
            foreach (var error in Model.Errors)
            {
                <div>
                    @string.Format("- {0}", error)
                </div>
            }
        }
    </div>
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class=""><a href="#tab5-1" data-toggle="tab" style="text-decoration: none;">Визитка</a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab" style="text-decoration: none;">Портфолио</a></li>
        <li class=""><a href="#tab5-3" data-toggle="tab" style="text-decoration: none;">Об услуге</a></li>
        <li class=""><a href="#tab5-4" data-toggle="tab" style="text-decoration: none;">Смена пароля</a></li>
   </ul>

    <div class="tab-content">
        <!-- Редактирвоание профиля (основное) -->
		<br />
        <div class="tab-pane active" id="tab5-1">

            <div class="row">
                <div class="col-md-4" style="text-align: center;">

                    @if (Model.Avatar != null)
                    {
                        <img src="/Image/Get?id=@Model.Avatar.Id" width="300" height="300" class="img-thumbnail" id="avatar">
                    }
                    else
                    {
                        <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
                    }
                    <input type="file" accept="image/*" name="AvatarFile" id="AvatarFile" style="padding-top: 10px; padding-bottom: 10px;" />
                   <div class="row" style="text-align: left;">
                        
				   <h5> Выберите и загрузите свою личную фотографию.	</h5>
                        
                        <button type="button" class="btn-class-orange" id="updateProfile">Сохранить изображение  </button>
                    </div>
                </div>
			
                <div class="col-md-8">
                    
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">Ваше имя или псевдоним, название банкетного зала или название агенства</label>
                                <input type="text" class="form-control" name="FullName" placeholder="Иванов Иван/dj.Антон/Банкетный Зал «У Палыча»" maxlength="80" value="@Model.FullName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">Кем Вы работаете, чем занимаетесь? (до 80 символов)</label>
                                <input type="text" class="form-control" name="AboutShort" maxlength="80" placeholder="Ведущий/DJ/организация торжеств/банкетов/дирректор завода/домохозяйка" value="@Model.AboutShort">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">Ваш телефон (обязательно для всех)</label>
                                <input type="text" class="form-control" name="Phone" placeholder="+7 999 111 2233" maxlength="20" value="@Model.Phone">
                            </div>
                        </div>
                    </div>
					<div style="text-align: left;">
    
           <div class="title-line"> <span style="color: #f45656;">
Рекомендуем заполнять только исполнителям услуг</span></div>
  
</div>

					
                 <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">Адрес Вашего сайта</label>
                                <input type="url" class="form-control" name="Site" placeholder="Адрес вашего сайта " maxlength="40" value="@Model.Site">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">У вас есть видео-канал Youtube ?</label>
                                <input type="url" class="form-control" name="Youtube" placeholder="Youtube" maxlength="40" value="@Model.Youtube">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">Ваша страница или группа ВКонтакте </label>
                                <input type="url" class="form-control" name="VKontakte" placeholder="Ваша страничка в ВКонтакте" maxlength="50" value="@Model.VKontakte">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="Name" style="font-weight: 100">Вы ведете Instagram ?</label>
                                <input type="url" class="form-control" name="Instagram" placeholder="Укажите ссылку Instagram целиком" maxlength="50" value="@Model.Instagram">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="text-align: center;">
                    <button type="button" class="btn-class-orange" id="updateProfile">
Сохранить данные</button>
                </div>
                <div class="row">
                    <div class="col-lg-12 errorBox"></div>
                </div>
            </div>

            <script>
                $('button[id=updateProfile]').bind('click', function (el) {
                    var ani = new kamati.animation.dots(el.currentTarget);
                    ani.start();

                    var avatarFile = document.getElementById('AvatarFile').files;

                    if(avatarFile.length > 0) {
                        avatarFile = avatarFile[0];
                    }
                    else {
                        avatarFile = null;
                    }

                    var form_data = new FormData();
                    form_data.append("AvatarFile", avatarFile);
                    form_data.append("Login", $('[name=LoginName]').val());
                    form_data.append("Email", $('[name=Email]').val());
                    //form_data.append("Password", $('[name=Password]').val());
                    //form_data.append("PasswordRetry", $('[name=PasswordRetry]').val());
                    form_data.append("FullName", $('[name=FullName]').val());
                    form_data.append("AboutShort", $('[name=AboutShort]').val());
                    form_data.append("Phone", $('[name=Phone]').val());
                    form_data.append("Phone2", $('[name=Phone2]').val());
                    form_data.append("Site", $('[name=Site]').val());
                    form_data.append("VKontakte", $('[name=VKontakte]').val());
                    form_data.append("Instagram", $('[name=Instagram]').val());
                    form_data.append("Skype", $('[name=Skype]').val());
                    form_data.append("Youtube", $('[name=Youtube]').val());

                    $.ajax({
                        type: 'POST',
                        url: '/Account/UpdateProfile',
                        data: form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            ani.stop();
                            if (data.Success) {
                                var url = window.location.origin + window.location.pathname;
                                window.location = "Card?user=" + userData.login;
                            }
                        },
                        error: function(data){
                            ani.stop();
                            showError(data.responseJSON.Data);
                        }
                    });
                });
            </script>
        </div>

        <!-- Портфолио -->
        <div class="tab-pane" id="tab5-2">
            <div style="padding-bottom: 20px;">
					<br />

<h3 style="color: #000000;"><STRONG>Портфолио</STRONG></h3>
<h5 style="color: #777777;">Разместите до 20 фотографий. Наглядность Вашей деятельности увеличит шанс на победу во время проведения конкурсов
   <br /><br />
Изображения в данном разделе не должны нарушать любые законы РФ об иллюстрациях, изображениях людей, и авторских правах . </h5>
			<br />	
				
            </div>
            @using (Html.BeginForm("UpdateProfiles", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="file" accept="image/*" class="form-control" id="ProfileFiles" name="ProfileFiles" multiple />
                            
                        </div>
                    </div>
                </div>
                     <div class="row" style="text-align: center;">
                    <div class="col-lg-12">
                        <button type="button" class="btn-class-orange" data-style="expand-left" onclick="loadProfiles()">
                            <span class="ladda-label">Загрузить фото</span>
                        </button>
                    </div>
                </div>
					<br />	
                <div class="row">
                    @foreach (var item in Model.Portfolios)
                    {
                        <div class="col-lg-2" id="portFile-@item.Id">
                            <div style="padding-top: 20px; padding-bottom: 20px;">
                                <div>
                                    <a href="~/File/get?id=@item.Id" target="_blank">
                                        <img src="~/File/get?id=@item.Id" style="width: 100px; height: 100px;" />
                                    </a>
                                </div>
                                <div style="text-align: center">
                                    <div style="text-decoration: underline; cursor: pointer" onclick="removePortFile(@item.Id)">Удалить фото</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
               
                
            }
            <script>
                function loadProfiles() {
                    var files = document.getElementById('ProfileFiles').files,
						isReady = false;

                    var check = function () {
                        if (isReady) {
                            var url = window.location.origin + window.location.pathname + "?tab=tab5-2";
                            window.location = url;
                        }
                        else {
                            setTimeout(check, 2000); // check again in a second
                        }
                    }

					check();
					
                    for (var i = 0; i < files.length; i++) {
                        var form_data = new FormData();
                        var file = files[i],
                            size = file.size / 1024 / 1024;

                        if (size > 3.9) {
                            continue;
                        }

                        form_data.append("Files", file);

                        $.ajax({
                            type: 'POST',
                            url: '/Account/AddImage',
                            data: form_data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (data) {

                            }
                        });
                    }

                    isReady = true;
                }

                function removePortFile(id) {
                    $.ajax({
                        type: 'POST',
                        url: '/Account/RemovePortfile',
                        data: {
                            id: id,
                            userId: @Model.Id
                            },
                        success: function (data) {
                            $('#portFile-' + id).remove();
                        }
                            });
                        }
            </script>
        </div>

        <!-- Об услуге -->
        <div class="tab-pane" id="tab5-3">
            <div style="padding-bottom: 20px;">
					<br />

<h3 style="color: #000000;"><STRONG>Об услуге</STRONG></h3>
<h5 style="color: #777777;">Расскажите о своей услуге будещим заказчикам, ознакомьте с примерными ценами.</h5>
			
				
            <div class="row">
                <form method="post" action="UpdateProfile">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea rows="10" cols="95" name="portfoli" maxlength="4000">@Model.Portfolio</textarea>
                            <br />
							<span style="color: #555555;"><img src="~/Content/images/lamp.png" width="15" height="16" />
                Информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции.
                Утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных, не допускается</i>.
           </span>
                        </div>
                    </div>
                   
                   
                    <div class=" form-group">
                        <div class="col-md-12 progress-demo" style="text-align: center; padding-top: 20px;">
                            <button type="button" class="btn-class-orange" data-style="expand-left" onclick="savePortfolio(this)">Сохранить текст</button>
                        </div>
                    </div>
                </form>
            </div>
                <script>
                    function savePortfolio(el) {
                        var ani = new kamati.animation.dots(el);
                        ani.start();

                        var portfolio = $('[name=portfoli]').val();

                        $.ajax({
                            type: 'POST',
                            url: '/Account/UpdateAbout',
                            data: {
                                portfolio: portfolio
                            },
                            success: function (data) {
                                ani.stop();
                                window.location = "Card?user=" + userData.login;
                            }
                        });
                    }
                </script>
            </div>
        </div>

        <div class="tab-pane" id="tab5-4">
            <div style="padding-bottom: 20px;">
                @RenderPage("Common/Common.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/app/openTab.js"></script>
 <br /> <br />

<script>
    $(document).ready(function () {
        $('input[name=Phone]').mask('+7 000-000-0000');
    });
</script>