@model MyTend.Models.ProfileModel

@{
    ViewBag.Title = "Редактирование Визитки";
}
<script>
    var openTabParam = "@ViewBag.OpenTabParam",
        userData = {
            login: "@ViewBag.UserLogin"
        };

</script>

@if (ViewBag.IsSubRegions == false || ViewBag.IsSubTenders == false)
{
    <div class="alert alert-success" role="alert">
        @if (ViewBag.IsSubRegions == false)
        {
            <div>
                - Укажите регионы и города в которых Вы исполняете услуги (только исполнителям услуг)
            </div>
        }
        @if (ViewBag.IsSubTenders == false && ViewBag.HasPay == true)
        {
            <div>
                - Укажите категории заявок/торгов от заказчиков которые Вы оказываете (только исполнителям услуг)
            </div>
        }
        @if (Model.Errors != null && Model.Errors.Count > 0)
        {
            foreach (var error in Model.Errors)
            {
                <div>
                    @string.Format("- {0}", error)
                </div>
            }
        }
    </div>
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class=""><a href="#tab5-1" data-toggle="tab" style="text-decoration: none;">Визитка</a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab" style="text-decoration: none;">Портфолио</a></li>
        <li class=""><a href="#tab5-3" data-toggle="tab" style="text-decoration: none;">Об услуге</a></li>
        <li class=""><a href="#tab5-4" data-toggle="tab" style="text-decoration: none;">Категории/темы заявкок</a></li>
        <li class=""><a href="#tab5-5" data-toggle="tab" style="text-decoration: none;">Регионы и города</a></li>
    </ul>

    <div class="tab-content">
        <!-- Редактирвоание профиля (основное) -->
        <div class="tab-pane active" id="tab5-1">

            <div class="row">
                <div class="col-md-4" style="text-align: center;">

                    @if (Model.Avatar != null)
                    {
                        <img src="/Image/Get?id=@Model.Avatar.Id" width="300" height="300" class="img-thumbnail" id="avatar">
                    }
                    else
                    {
                        <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
                    }

                    <input type="file" accept="image/*" name="AvatarFile" id="AvatarFile" style="padding-top: 10px; padding-bottom: 10px;" />
                    <div class="row" style="text-align: center;">
                        <div style="padding: 20px 0px 20px 0px; text-align: center;">
                            Нажатие кнопки «Сохранить» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                        </div>
                        <button type="button" class="btn btn-custom-red" id="updateProfile"><strong>Сохранить фото</strong></button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Логин</label>
                                <input type="email" class="form-control" name="Login" placeholder="my@mail.ru" value="@Model.Login" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Электронная почта</label>
                                <input type="email" class="form-control" name="Email" placeholder="my@mail.ru" value="@Model.Email" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Пароль (смена пароля)</label>
                                <input type="password" min="5" class="form-control" name="Password" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Повторить пароль</label>
                                <input type="password" min="5" class="form-control" name="PasswordRetry" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Name">Ваше имя или псевдоним, название банкетного зала, название компании</label>
                                <input type="text" class="form-control" name="FullName" placeholder="Иванов Иван/dj.Антон/Банкетный Зал «У Палыча»" maxlength="80" value="@Model.FullName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Name">Кем Вы работаете, чем занимаетесь? (до 80 символов)</label>
                                <input type="text" class="form-control" name="AboutShort" maxlength="80" placeholder="Ведущий/DJ/организация торжеств/банкетов/дирректор завода/домохозяйка" value="@Model.AboutShort">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ваш телефон (обязательно для всех)</label>
                                <input type="text" class="form-control" name="Phone" placeholder="+79991112233" maxlength="20" value="@Model.Phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ваш дополнительный телефон (по желанию)</label>
                                <input type="text" class="form-control" name="Phone2" placeholder="+79991112233" maxlength="20" value="@Model.Phone2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">Ваш сайт (рекомендовано только продавцам услуг)</label>
                                <input type="url" class="form-control" name="Site" placeholder="Адрес вашего сайта (рекомендуется только продавцам)" maxlength="40" value="@Model.Site">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Skype (рекомендовано по желанию)</label>
                                <input type="url" class="form-control" name="Skype" placeholder="Ваш адрес в Skype" maxlength="30" value="@Model.Skype">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">ВКонтакте (рекомендовано по желанию)</label>
                                <input type="url" class="form-control" name="VKontakte" placeholder="Ваша страничка в ВКонтакте" maxlength="30" value="@Model.VKontakte">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="Name">Instagram (рекомендовано по желанию)</label>
                                <input type="url" class="form-control" name="Instagram" placeholder="Ваша страничка в Instagram" maxlength="30" value="@Model.Instagram">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px 0px 20px 0px; text-align: center;">
                    Нажатие кнопки «Сохранить» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                </div>
                <div class="row" style="text-align: center;">
                    <button type="button" class="btn btn-custom-red" id="updateProfile"><strong>Сохранить</strong></button>
                </div>
                <div class="row">
                    <div class="col-lg-12 errorBox"></div>
                </div>
            </div>

            <script>
                $('button[id=updateProfile]').bind('click', function (el) {
                    var ani = new kamati.animation.dots(el.currentTarget);
                    ani.start();

                    var avatarFile = document.getElementById('AvatarFile').files;

                    if(avatarFile.length > 0) {
                        avatarFile = avatarFile[0];
                    }
                    else {
                        avatarFile = null;
                    }

                    var form_data = new FormData();
                    form_data.append("AvatarFile", avatarFile);
                    form_data.append("Login", $('[name=Login]').val());
                    form_data.append("Email", $('[name=Email]').val());
                    form_data.append("Password", $('[name=Password]').val());
                    form_data.append("PasswordRetry", $('[name=PasswordRetry]').val());
                    form_data.append("FullName", $('[name=FullName]').val());
                    form_data.append("AboutShort", $('[name=AboutShort]').val());
                    form_data.append("Phone", $('[name=Phone]').val());
                    form_data.append("Phone2", $('[name=Phone2]').val());
                    form_data.append("Site", $('[name=Site]').val());
                    form_data.append("VKontakte", $('[name=VKontakte]').val());
                    form_data.append("Instagram", $('[name=Instagram]').val());
                    form_data.append("Skype", $('[name=Skype]').val());

                    $.ajax({
                        type: 'POST',
                        url: '/Account/UpdateProfile',
                        data: form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            ani.stop();
                            if (data.Success) {
                                var url = window.location.origin + window.location.pathname + "?tab=tab5-1";
                                window.location = "Card?user=" + userData.login + "&tab=tab5-1";
                            }
                        },
                        error: function(data){
                            ani.stop();
                            showError(data.responseJSON.Data);
                        }
                    });
                });
            </script>
        </div>

        <!-- Портфолио -->
        <div class="tab-pane" id="tab5-2">
            <div style="padding-bottom: 20px;">
                <h3>  Разместите несколько фотографий с вашей работой. Наглядность вашей деятельности увеличит шанс на успех среди заказчиков.</h3>
            </div>
            @using (Html.BeginForm("UpdateProfiles", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="file" accept="image/*" class="form-control" name="ProfileFiles" multiple />
                            <div style="color: red">
                                Вы можете загрузить не более 20 фотографий, размером не более 3 Мб)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @foreach (var item in Model.Portfolios)
                    {
                        <div class="col-lg-2" id="portFile-@item.Id">
                            <div style="padding-top: 20px; padding-bottom: 20px;">
                                <div>
                                    <a href="~/File/get?id=@item.Id" target="_blank">
                                        <img src="~/File/get?id=@item.Id" style="width: 100px; height: 100px;" />
                                    </a>
                                </div>
                                <div style="text-align: center">
                                    <div style="text-decoration: underline; cursor: pointer" onclick="removePortFile(@item.Id)">Удалить фото</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div style="padding: 20px 0px 20px 0px; text-align: center;">
                    Нажатие кнопки «Загрузить» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-custom-red ladda-button" data-style="expand-left">
                            <span class="ladda-label"><strong>Загрузить фото</strong></span>
                        </button>
                    </div>
                </div>
            }
            <script>
                function removePortFile(id) {
                    $.ajax({
                        type: 'POST',
                        url: '/Account/RemovePortfile',
                        data: {
                            id: id,
                            userId: @Model.Id
                            },
                        success: function (data) {
                            $('#portFile-' + id).remove();
                        }
                    });
                }
            </script>
        </div>

        <!-- Об услуге -->
        <div class="tab-pane" id="tab5-3">
            <div style="padding-bottom: 20px;">
                <h3> В данном разделе опишите  об услуге, которую Вы оказываете. </h3>
                <h3> Максимальная  длина текста, до 10.000 символов.</h3>
                Информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции.
                <div style="color: #cc0001  ; font-weight: bold;">Утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных, не допускается.</div>
            </div>
            <div class="row">
                <form method="post" action="UpdateProfile">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea rows="10" cols="95" name="portfoli" maxlength="10000">@Model.Portfolio</textarea>
                            <br />
                        </div>
                    </div>
                    <div class="<div class=" form-group">
                        <div class="col-md-12 progress-demo" style="text-align: center; padding-top: 20px;">
                            <div style="padding: 0px 0px 20px 0px; text-align: center;">
                                Нажатие кнопки «Сохранить» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                            </div>
                            <button type="button" class="btn btn-custom-red ladda-button" data-style="expand-left" onclick="savePortfolio(this)"><strong>Сохранить</strong></button>
                        </div>
                    </div>
                </form>
                <script>
                    function savePortfolio(el) {
                        var ani = new kamati.animation.dots(el);
                        ani.start();

                        var portfolio = $('[name=portfoli]').val();

                        $.ajax({
                            type: 'POST',
                            url: '/Account/UpdateAbout',
                            data: {
                                portfolio: portfolio
                            },
                            success: function (data) {
                                ani.stop();
                                window.location = "Card?user=" + userData.login + "&tab=tab5-2";
                            }
                        });
                    }
                </script>
            </div>
        </div>

        <!-- Тендеры -->
        <div class="tab-pane" id="tab5-4">
            <h3> Что бы получать заявки только на услуги которые Вы оказываете, укажите их системе.</h3>

            <div style="padding-bottom: 20px;">
                Темы показаны, по примеру запроса от лица заказчика.  У Вас есть возможность подписаться на <strong>10</strong> тем.
                После внесенных изменений, перед тем как покинуть вкладку нажмите кнопку<strong> «Подписаться»</strong>.
            </div>
            <div class="SubTender">

                <div class="wp-example" id="accordions">
                    <div class="panel-group" id="accordionThree">
                        @{
                            var i = 0;
                        }
                        @foreach (var theme in Model.TenderThemes)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="@string.Format("#collapse{0}a", i)" class="collapsed">
                                            @theme.Key
                                        </a>
                                    </h4>
                                </div>
                                <div id="@string.Format("collapse{0}a", i)" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            @foreach (var title in theme.Value)
                                            {
                                                <div class="col-md-8">
                                                    @if (!title.IsTitle)
                                                    {
                                                        @title.Title
                                                    }
                                                    else
                                                    {
                                                        <div style="font-weight: bold; color: #950f81">
                                                            @title.Title
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-4">
                                                    @if (!title.IsTitle)
                                                    {
                                                        <input type="checkbox" name="@title.Id" id="@title.Id" class="subCheck" />
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div style="padding-top: 20px; text-align: center;">
                                                    <button type="button" class="btn btn-custom-red" onclick="UpdateSubsciptions(this)"><strong>Подписаться</strong></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            i++;
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12" style="text-align: center; padding-top: 0px;">
                        <div style="padding: 0px 0px 20px 0px; text-align: center;">
                            Нажатие кнопки «Подписаться» означает согласие с <a href="~/Docs/AboutProfile">Правилами заполнения профиля</a>
                        </div>
                        <button type="button" class="btn btn-custom-red" onclick="UpdateSubsciptions(this)"><strong>Подписаться</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                var max = 10;

                $('input.subCheck').on('click', function (el) {
                    var selected = $('input.subCheck');

                    var sel = 0;

                    for (var i = 0; i < selected.length; i++) {
                        if (el.target != selected[i]) {
                            if (selected[i].checked == true) {
                                sel++;
                            }

                            if (sel == max) {
                                break;
                            }
                        }
                    }

                    if (sel == max) {
                        el.target.checked = false;
                    }
                });
            });

            function UpdateSubsciptions() {
                var subs = [];

                var selected = $('input.subCheck');

                for (var i = 0; i < selected.length; i++) {
                    if (selected[i].checked == true) {
                        subs.push(selected[i].id);
                    }
                }

                $.ajax({
                    url: '/Account/UpdateSubThemes',
                    data: {
                        ListThemes: subs
                    },
                    type: 'POST',
                    success: function (resp) {
                        var url = window.location.origin + window.location.pathname + "?tab=tab5-4";
                        window.location = url;
                    }
                });
            }

            function setChecked(data){
                for(var i = 0; i <= data.length; i++){
                    var selected = $('input.subCheck[id='+data[i]+']');

                    if(selected){
                        selected.attr('checked', true);
                    }
                }
            }

            $(document).ready(function() {
                $.ajax({
                    url: '/Account/GetSubThemes',
                    type: 'POST',
                    success: function (resp) {
                        setChecked(resp.Data);
                    }
                });
            });
        </script>

        <!-- Города -->
        <div class="tab-pane" id="tab5-5">

            <div class="row">
                <form method="post" action="UpdateProfile">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="SubTheme2" class="control-label col-md-12">Страна</label>
                                <div class="col-md-12">
                                    <select class="form-control" name="Country" id="subCountrysSelect" required>
                                        <option disabled selected>Выберите страну</option>
                                        @foreach (var item in Model.ListCountrys)
                                        {
                                            <option id="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="SubTheme2" class="control-label col-md-12">Чтобы подписаться только на регион: Выберите страну, регион, нажмите «Добавить регион»</label>
                                <div class="col-md-12">
                                    <select class="form-control" name="Region" id="subRegionSelect" required>
                                        <option disabled selected>Выберите регион</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12" style=" padding-top: 10px; text-align: center">
                                    <button type="button" class="button" onclick="addRegionsToList()"><strong>Добавить регион</strong></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="listRegions">
                                    @if (Model.SubRegions.Count > 0)
                                    {
                                        foreach (var region in Model.SubRegions)
                                        {
                                            <div class="city-block" id="@region.Name">
                                                <div class="city-title">
                                                    @region.Name
                                                    <span class="fa fa-times red like-link" onclick="removeFromList(this)"></span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="SubTheme2" class="control-label col-md-12">Чтобы подписаться на город: Выберите страну, регион, город, нажмите «Добавить город»</label>
                                <div class="col-md-12">
                                    <select class="form-control" name="City" id="subCitySelect" required>
                                        <option disabled selected>Выберите город</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12" style=" padding-top: 10px; text-align: center">
                                    <button type="button" class="button" onclick="addCityToList()"><strong>Добавить город</strong></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="listCity">
                                    @if (Model.SubCitys.Count > 0)
                                    {
                                        foreach (var city in Model.SubCitys)
                                        {
                                            <div class="city-block" id="@city.Name">
                                                <div class="city-title">
                                                    @city.Name
                                                    <span class="fa fa-times red like-link" onclick="removeFromList(this)"></span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12" style="padding-left: 40px; padding-right: 40px; padding-top: 40px;">

                            <div>
                                Чтобы добавить еще один регион/город:<strong> повторите действия и нажмите нужную кнопку</strong>.
                            </div>
                            <div>
                                Если вы не желаете получать заявки, связанные с подписанным регионом или городом, <strong>удалите их, нажав на крестик рядом</strong>.
                            </div>
                            <div>
                                Подписаться на города-субьекты, такие как Москва, Санкт-Петербург, Севастополь <strong>можно, добавив и как регион, и как город</strong>.
                            </div>
                            <div>
                                Подписываться на город, который относится к региону, на который вы уже подписаны, не имеет смысла.
                            </div>
                            <div>
                                Для уточнения географии исполнения Ваших услуг Вы можете подписаться на: <strong>4 региона</strong>, а также отдельно на <strong>10 городов</strong>.
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <script src="~/Scripts/app/subRegions.js"></script>
        </div>
    </div>
</div>
<script src="~/Scripts/app/openTab.js"></script>