@model MyTend.Models.ProfileModel

@{
    ViewBag.Title = "Профиль";
}

@if (ViewBag.IsSubRegions == false || ViewBag.IsSubTenders == false)
{
    <div class="alert alert-danger" role="alert">
        @if(ViewBag.IsSubRegions == false)
        {
            @:- Подпишитесь на категории тендеров <br/>
        }
        @if (ViewBag.IsSubTenders == false)
        {
            @:- Подпишитесь на регионы и города
        }
    </div>
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class=""><a href="#tab5-1" data-toggle="tab">Профиль</a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab">Портфоли</a></li>
        <li class=""><a href="#tab5-3" data-toggle="tab">О нас</a></li>
    </ul>

    <div class="tab-content">
        <!-- Редактирвоание профиля (основное) -->
        <div class="tab-pane active" id="tab5-1">
            
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <form id="avatar">
                        <img src="/Image/Get?id=0" width="300" height="300" class="img-thumbnail" id="avatar">
                        <input type="file" accept="image/*" name="avatar" style="padding-top: 10px; padding-bottom: 10px;" />
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Логин</label>
                                <input type="email" class="form-control" name="Login" placeholder="my@mail.ru" value="@Model.Login" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Пароль (смена пароля)</label>
                                <input type="password" min="5" class="form-control" name="Password" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Повторить пароль</label>
                                <input type="password" min="5" class="form-control" name="PasswordRetry" placeholder="Пароль" value="@Model.Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Name">Полное имя</label>
                                <input type="text" class="form-control" name="FullName" placeholder="Иванов Иван Иванович" value="@Model.FullName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Name">Чем занимаюсь</label>
                                <input type="text" class="form-control" name="AboutShort" placeholder="Чем занимаюсь (кратко)" value="@Model.AboutShort">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" id="updateProfile">Сохранить</button>
                    </div>
                </div>
            </div>
            
            <script>
                function showInfo(message, el) {

                }

                $('button[id=updateProfile]').bind('click', function () {
                    debugger;
                    var profileInfo = {
                        Login: $('[name=Login]').val(),
                        Password: $('[name=Password]').val(),
                        PasswordRetry: $('[name=PasswordRetry]').val(),
                        Name: $('[name=FullName]').val(),
                        AboutShort: $('[name=AboutShort]').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/Account/UpdateProfile',
                        data: profileInfo,
                        success: function (data) {
                            if (data.Success) {
                                window.location.reload();
                            }
                        }
                    });
                });


            </script>

        </div>

        <!-- Портфолио -->
        <div class="tab-pane active" id="tab5-2">

        </div>

        <!-- О нас -->
        <div class="tab-pane active" id="tab5-3">

        </div>
    </div>
</div>