@using MyTend.Entites

@{
    ViewBag.Title = "Стать продавцом";
}

<h2>Стать продавцом</h2>

<div class="row">
    <div class="col-lg-12">
        <p>
            @if (ViewBag.HasPay == false)
            {
                @:"Доступ к участию в торгах и получению заявок не оплачен/закрыт"
            }
        </p>
        <div style="color: #65267a; font-weight: bold;">Информация по оплате торгового взноса:</div>
        <div>
            <a href="robokassa.ru" title="robokassa.ru" target="_blank">
                <img src="@Url.Content("~/Content/images/robokassa.png")" height="15">
            </a>
        </div>
        <ol>
            <li>
                Оплата торгового взноса производится денежными средствами на основании @Html.ActionLink("договора оказания платных услуг", "Aferta", "Docs", null, new { @style = "color: #316e99;" }), по безналичному расчету на территории РФ и странах ближнего зарубежья, любым удобным и доступным пользователю способом, который предлагает интернет сервис  <a href="http://www.robokassa.ru" target="_blank">ROBOKASSA</a> по отношению к сайту <a href="http://my-tend.com/" target="_blank">Я ПРЕДЛАГАЮ</a>.
            </li>
            <li>
                После оплаты вы можете проверить статус своей подписки в личном кабинете на страница "Оплата"
            </li>

            <li>
                При каких либо ошибках во воремя оплаты, Вы можете написать в @Html.ActionLink("Службу поддержки", "Support", "Home", null, new { @style = "color: #316e99;" })
            </li>
        </ol>
        <div style="color: #bb071c; font-weight: bold;">Внимание важно: </div>
        <p>
            Перед проведением оплаты торгового взноса рекомендуем проверить подписки по оказанию услуг и городов.
        </p>
        <div style="color: #1e7315; font-weight: bold;"> Право на участие в торгах предоставляется на условиях полной предоплаты торгового взноса, в размере 1000 рублей за 1 календарный месяц.</div>
        <p></p>
        <p>
            <div class="text-center">
                @Html.ActionLink("Я ознакомился и принял условия договора платных услуг", "Aferta", "Docs", null, new { @style = "color: #316e99;" })
                    <div class="text-center">
                        @Html.Raw(ViewBag.PayScript)

                    </div>
            </div>
        </p>
        </div>
    <div>
        <p>
            История подписок:
        </p>
        @if (ViewBag.PayHistory.Count > 0)
        {
            <ol>
                @foreach (var row in (List<PayInfo>)ViewBag.PayHistory)
                {
                    <li>@string.Format("{0}: оплачено {1} р.", row.PayDay.ToString("dd.MM.yyyy"), row.Sum.ToString("0.00"))</li>
                }
            </ol>
        }
        else
        {
            @:Вы ещё не оплачивали подписку
        }
    </div>
</div>
