@using MyTend.Entites

@{
    ViewBag.Title = "Оплата доступа к заявкам";
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            <div style="color: #2b7711;">
                @if (ViewBag.HasPay == false)
                {
                    @:Оплатите доступ к заявкам!
            }
        </h1>
        <h2>Информация по оплате:</h2>
        <div>
            <a href="robokassa.ru" title="robokassa.ru" target="_blank">
                <img src="@Url.Content("~/Content/images/robokassa.png")" height="15">
            </a>
        </div>
        <ol>
            <li>
                Оплата торгового взноса производится денежными средствами на основании @Html.ActionLink("Договора оферты", "Jferta", "Docs", null, new { @style = "color: #316e99;" }), по безналичному расчету на территории РФ и странах ближнего зарубежья, любым удобным и доступным пользователю способом, который предлагает интернет сервис  <a href="http://www.robokassa.ru" target="_blank">ROBOKASSA</a> по отношению к сайту <a href="http://my-tend.com/" target="_blank">Www.My-Tend.Com</a>.
            </li>
            <li>
                При каких-либо ошибках во время оплаты, Вы можете написать в @Html.ActionLink("Администрации сайта", "Support", "Home", null, new { @style = "color: #316e99;" }).
            </li>
        </ol>
        <div style="color: #bb071c; font-weight: bold;">Внимание важно: </div>
        <p>
            Перед проведением оплаты торгового взноса рекомендуем проверить подписки по оказанию услуг и городов.
        </p>

        </ol>
        <p>
            <div class="text-center">
                @if (this.ViewBag.HasPay == false)
                {
                    <input type="checkbox" id="agree" />
                    @Html.ActionLink("Я ознакомился и принял условия договора оферты", "Oferta", "Docs", null, new { @style = "color: #008cc3;" })
                    <div class="text-center">
                        @Html.Raw(ViewBag.PayScript)
                    </div>
                }
                else
                {
                    <div style="text-align: center; color: green">
                        <strong>Доступ к заявкам и право участия в аукционных-торгах уже оплачены до: @this.ViewBag.PayEnd.ToString("dd.MM.yyyy")</strong>
                    </div>
                }

            </div>
        </p>
    </div>
    <div>
        <p>
            История оплаты:
        </p>
        @if (ViewBag.PayHistory.Count > 0)
        {
            <ol>
                @foreach (var row in (List<PayInfo>)ViewBag.PayHistory)
                {
                    <li>@string.Format("{0}: оплачено {1} р.", row.PayDay.ToString("dd.MM.yyyy"), row.Sum.ToString("0.00"))</li>
                }
            </ol>
        }
        else
        {
            @:Вы ещё не оплачивали доступ к зявкам и участие в аукционных торгах.
        }
    </div>
</div>
<script>
    $('#agree').on('change', function (el, v) {
        debugger;
        if (el.target.checked) {
            $('#gopay').removeAttr('disabled');
        } else {
            $('#gopay').attr('disabled', true);
        }
    });
<<<<<<< HEAD
</script>
=======
</script>@using MyTend.Entites

>>>>>>> c6e4d778a3144cc2f7f409331b8f13cd38e3dcbd
