@model MyTend.Models.ListTendersModel

@{
    ViewBag.Title = "Заявки от заказчиков/покупателей";
}
<div class="form-group" style="text-align: center">
<h5 style="color: #333333;">
    Уточните: сферу Вашу сферу деятельности, города в которых можете брать заказы.   <br />
    Мы пришлем письмо на электронную почту и отобразим в этом меню
 ,
    когда появятся новые заявки </h5>
</div>
<div style="padding-top: 20px;">
	@RenderPage("Common/Search.cshtml", Model)
</div>


<h1 style="color: #000000;"><STRONG> Заявки от Заказчиков</STRONG></h1>

<h5 style="color: #777777;">
 Если Вы откликнитесь  предложением для заказчика, заявка перейдет в меню <a href="/tender/Active">Мои предложения Заказчикам</a>, где Вы сможете следить за ходом аукционного-торга.

 </h5>
<hr>
<div class="tabs">
     
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            @if (Model.Tenders.Count > 0)
            {
                foreach (var item in Model.Tenders)
                {
                    <div class="row" id="tenderrow-@item.Id">
                        <div class="col-lg-2 text-center">
                            <a href="~/Tender/Details?id=@item.Id">
                                @if (item.User.Avatar != null)
                                {
                                    <div>
                                        <img src="~/image/get/@item.User.Avatar.Id" width="100" height="100" class="img-circle" />
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <img src="~/image/get/0" width="100" height="100" class="img-circle" />
                                    </div>
                                }
                                
                            </a>
                        </div>
                        <div class="col-lg-10">
                            <table style="width: 100%">
                                <tr>
                                    <td width="5%" style="text-align: right;">
                                        <strong></strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <h4> @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null) </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" style="text-align: right;">
                                        <strong></strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        @if (item.Cost == 0)
                                        {
                                            @:<div><p style="word-wrap: break-word; font-size: 17px;">Договорная</div>
                                    }
                                        else
                                        {
                                            @:<div><p style="font-size:17px">@item.Cost.ToString("0.00") руб.</p></div>
                                    }
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" style="text-align: right;">
                                        <strong></strong>
                                    </td>
                                    <td style="padding-left: 10px; line-height: 18px;">
                                        <div>@string.Format("{0}", item.Theme.Title)</div>
                                        <div>@string.Format("{0} / {1}", item.Region.Name, item.City.Name) </div>
                                        <div>@string.Format("Рассмотрение предложений: c " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="5%" style="text-align: right;">
                                        <strong></strong>
                                    </td>
                                    <td style="padding-left: 10px; text-align: right;">
                                        <a href="#" style="color: #b0b0b0;" onclick="hideTender(@item.Id)"><i class="glyphicon glyphicon-remove" style="color: #b0b0b0;"></i>Удалить</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            }
            else
            {
			<p class="bg-warning">
                
                <h5 style="color: #777777;">
				 <img src="~/Content/images/light-bulb.png"width="18" height="18" />Заявок по условиям выбранных услуг и городов, пока не поступало, рекомендуем проверить позже!<br /><br />
                    В случае если кто то разместит заявку в категории ваших услуг и городе, Робот-Тендер оповестит
					и пригласит Вас ознакомиться с заявками, по электронной почте.<br /><br />
					Так же рекомендуем проверять наличие новых заявок самостоятельно, в этом пункте меню. 
                </h5>
				
			
           
                
				</p>
            }

        </div>
	 
    </div>
</div>


