@model MyTend.Models.CreateTenderModel

@{
    ViewBag.Title = "Закажите ведущего,банкетный зал, dj, тамаду, артистов: " + Model.Theme.Theme;
}

@using (Html.BeginForm("Create", "Tender", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


   
    <br />
	<div style="text-align: left;">
    
     

     <h2 style="color: #222222;"><span class="glyphicon glyphicon-pencil"></span> Заполните и отправьте заявку по нужным исполнителям! </h2>
	 
	 <div style="color: #07a7fa;">
Новая заявка / Поиск исполнителя / @Model.Theme.Theme</div>
	  <hr>
 	 </div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4" style="text-align: center">
               
            </div>
            <div class="col-md-8">
               
                           </div>
        </div>
		
                @if (Model.Errors.Count > 0)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var item in Model.Errors)
                {
                    <p>@item</p>
                }
            </div>
        }

        <input hidden="hidden" value="@Model.Theme" name="Theme" />
        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4"></label>
            <div class="col-md-4">
                <input name="ThemeId" value="@Model.Theme.Id" hidden />
            </div>
        </div>
		
	
        <div class="form-group">
            <label for="TitleString" class="control-label col-md-4 low-font"><div style="color: #333333;">Какая услуга Вам нужна?</div></label>
            <div class="col-md-4">
                <select class="form-control" name="TitleId" required>
                    @if (string.IsNullOrEmpty(Model.Theme.Title))
                    {
                        <option selected="selected" disabled="disabled">Выберите услугу</option>
                    }
                    else
                    {
                        <option selected="selected" disabled="disabled">Выберите услугу</option>
                    }

                    @foreach (var item in Model.ListThemes)
                    {
                        if (item.IsTitle)
                        {
                            <option disabled="disabled" style="color: #ff6933; font-weight: bold;">@item.Title</option>
                        }
                        else
                        {
                            if (Model.Theme.Id == item.Id)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        }

                    }
                </select>
            </div>
        </div>
		<br />
<h4 style="color: #333333;">Местоположение заказа</h4>
<hr>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4 low-font"><div style="color: #333333;">Регион исполнения заявки:</div></label>
            <div class="col-md-4">
                <select class="form-control" name="RegionId" id="RegionSelect" required>
                    <option disabled selected>Выберите регион</option>
                    @foreach (var item in Model.ListRegions)
                    {
                        <option id="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4 low-font"><div style="color: #333333;">Город исполнения заявки:</div></label>
            <div class="col-md-4">
                <select class="form-control" name="CityId" required>
                    <option disabled selected>Выберите город</option>
                </select>
            </div>
        </div>
		<br />
<h4 style="color: #333333;">Название и текст заявки</h4>
<hr>
        <div class="form-group">
            <label for="Title" class="control-label col-md-4 low-font"><div style="color: #333333;">Придумайте название заявки:</div></label>
            <div class="col-md-8">
                <input type="text" required class="form-control" placeholder="Например: Ищу ведущего/банкетный зал или DJ на юбилей 3 сентября" name="Title" maxlength="100" value="@Model.Title" />
            </div>
        </div>

        <div class="form-group">
            <label for="Message" class="control-label col-md-4 low-font"><div style="color: #333333;">Текст заявки/условия конкурса:</div></label>
            <div class="col-md-8">
                <textarea class="form-control" required rows="7" maxlength="10000" name="Message" placeholder="Максимально подробно опишите детали и условия вашей заявки, укажите  место проведения события, прочие условия, которые необходимо учесть исполнителям, перед тем, как сделать Вам выгодное предложение."></textarea>
            </div>
        </div>
		<br />
<h4 style="color: #333333;">Уточняющие детали</h4>
<hr>
        <div class="form-group">
            <label for="CountGuests" class="control-label col-md-4 low-font"><div style="color: #333333;"><i class="glyphicon glyphicon-time" aria-hidden="true" style="color: #ff0000;"></i> Дата и время оказания услуги : </div></label>
            <div class="col-md-3">
                <input type="date" class="form-control" name="EventDay" placeholder="Дата проведения "  value="@Model.EventDay" />
            </div>
            <div class="col-md-3">
                <input type="time" class="form-control" name="EventDay" placeholder="Время начала" value="@Model.EventDay" />
            </div>
        </div>
        <div class="form-group">
            <label for="CountGuests" class="control-label col-md-4 low-font"><div style="color: #3333333;"><i class="glyphicon glyphicon-cutlery" style="color: #07a7fa;"></i> Количество гостей?</div></label>
            <div class="col-md-3">
                <input type="number" min="0" step="1" class="form-control" name="CountGuests" placeholder="10" value="@Model.CountGuests" />
            </div>
        </div>
        <div class="form-group">
            <label for="Cost" class="control-label col-md-4 low-font"><div style="color: #333333;"><i class="glyphicon glyphicon-usd" style="color: #90d228;"></i> На какую сумму Вы ориентируетесь?</div></label>
            <div class="col-md-3">
                <input type="number" min="0" step="1" class="form-control" name="Cost" placeholder="Средняя цена" value="@Model.Cost" />
            </div>
        </div>

        <div class="form-group">
            <label for="ListFiles" class="control-label col-md-4 low-font"><div style="color: #333333;"><i class="glyphicon glyphicon-picture" aria-hidden="true" style="color: #ac47cd;"></i> Прикрепите 2 фото (если необходимо, до 2Mb)</div></label>
            <div class="col-md-5">
                @{ Html.RenderPartial("~/Views/Shared/_FineUploader.cshtml"); }
                <div id="uploader"></div>
                <script>
                    var fileCount = 0;
                    var addedFiles = 0;
                    var fileLimit = 2;
                    // Some options to pass to the uploader are discussed on the next page
                    var uploader = new qq.FineUploader({
                        element: document.getElementById("uploader"),
                        validation: {
                            allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
                        },
                        autoUpload: false,
                        request: {
                            endpoint: 'server/handleUploads'
                        },
                        callbacks: {
                            onSubmit: function (id, fileName) {
                                console.log('submit');
                                fileCount++;
                                if (fileCount > fileLimit) {
                                    $('input[name="qqfile"]').attr('disabled', true);
                                    $('#uploader .qq-upload-drop-area').hide();
                                    return false;
                                }
                            },
                            onCancel: function (id, fileName) {
                                fileCount--;
                                if (fileCount <= fileLimit) {
                                    $('input[name="qqfile"]').attr('disabled', false);
                                    $('#portfolio-uploader .qq-upload-drop-area').show();
                                }
                            },
                            onComplete: function (id, fileName, responseJSON) {
                                if (responseJSON.success) {
                                    addedFiles++;
                                    if (addedFiles >= fileLimit) {
                                        $('input[name="qqfile"]').attr('disabled', true);
                                        $('#uploader .qq-upload-drop-area').hide();
                                    }
                                }
                            }
                        }
                    })
                </script>
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4 low-font"><div style="color: #333333;"><i class="glyphicon glyphicon-dashboard" aria-hidden="true" style="color: #eca62b;"></i> Время рассмотрения предложений?</div></label>
            <div class="col-md-2">
                <select class="form-control" name="ActiveTime">
                    @if (Model.ActiveTime == "3 дня")
                    {
                        <option selected="selected">3 дня</option>
                    }
                    else
                    {
                        <option>3 дня</option>
                    }
                    @if (Model.ActiveTime == "7 дней")
                    {
                        <option selected="selected">7 дней</option>
                    }
                    else
                    {
                        <option>7 дней</option>
                    }
                    @if (Model.ActiveTime == "14 дней")
                    {
                        <option selected="selected">14 дней</option>
                    }
                    else
                    {
                        <option>14 дней</option>
                    }
                    @if (Model.ActiveTime == "21 день")
                    {
                        <option selected="selected">21 день</option>
                    }
                    else
                    {
                        <option>21 день</option>
                    }
                </select>
            </div>
        </div>
		<hr>
        <div style="padding: 20px 0px 20px 0px; text-align: center;">
		 После отправки заявки, система расскажет и пригласит к участию в конкурсном торге <br />  исполнителей услуг учитывая выбранный город и услугу.
            
        </div>
        <div class="form-group">
            <div class="col-md-12" style="text-align: center;">
			
                <button type="submit" class="btn btn-custom-orange" style="width: 35%">Отправить заявку исполнителям услуг </button>
            </div>
        </div>
    </div>
	 <br />  <br />  <br /> 
}
<script src="~/Scripts/app/selectRegions.js"></script>
<script>
    blockBtns();

    function blockBtns() {
        var els = $('button[type=submit]');
        els.on('click', function (e) {
            $('form').validate({
                invalidHandler: function (event, validator) {
                    $("label.error").remove();
                },
                submitHandler: function (form) {
                    $('button[type=submit]').attr('disabled', 'disabled');
                    form.submit();
                }
            });
        });
    }
</script>