@model MyTend.Models.CreateTenderModel

@{
    ViewBag.Title = "Закажите ведущего,банкетный зал, dj, тамаду, артистов и не только: " + Model.Theme.Theme;
}

@using (Html.BeginForm("Create", "Tender", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


   
   <div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="#" target="_blank">
        <img src="~/Content/images/mazan.png" style="width: 90%" />
    </a></div>
	<br />
	<div style="text-align: left;">
    
     

     <h3 style="color: #222222;">Заполните и отправьте заявку по нужным исполнителям! </h3>
	 
	 <div style="color: #07a7fa;">
Новая заявка / Поиск исполнителя / @Model.Theme.Theme</div>
	  <hr>
 	 </div>
	 
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4" style="text-align: center">
               
            </div>
            <div class="col-md-8">
               
            </div>
        </div>
		
        @if (Model.Errors.Count > 0)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var item in Model.Errors)
                {
                    <p>@item</p>
                }
            </div>
        }

        <input hidden="hidden" value="@Model.Theme" name="Theme" />
        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4"></label>
            <div class="col-md-4">
                <input name="ThemeId" value="@Model.Theme.Id" hidden />
            </div>
        </div>
		
	
        <div class="form-group">
            <label for="TitleString" class="control-label col-md-4 low-font"><div style="color: #333333;">Выберите подкатегорию услуги:</div></label>
            <div class="col-md-4">
                <select class="form-control" name="TitleId" required>
                    @if (string.IsNullOrEmpty(Model.Theme.Title))
                    {
                        <option selected="selected" disabled="disabled">Выберите услугу</option>
                    }
                    else
                    {
                        <option selected="selected" disabled="disabled">Выберите услугу</option>
                    }

                    @foreach (var item in Model.ListThemes)
                    {
                        if (item.IsTitle)
                        {
                            <option disabled="disabled" style="color: #ff6933; font-weight: bold;">@item.Title</option>
                        }
                        else
                        {
                            if (Model.Theme.Id == item.Id)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        }

                    }
                </select>
            </div>
            <div class="col-md-4 text-center">
                <div style="margin: auto; width: 100px;height: 100px; background-image: url(../../Content/images/kats2/@Model.Theme.ImageName); background-size: 100%;">
                    <img src="~/Content/images/kats2/@Model.Theme.ImageName2" width="100" height="100" style="" />
                </div>
            </div>
        </div>
		<br />
<h4 style="color: #333333;"><img src="~/Content/images/geo2.png" width="20" height="20" />Где требуется исполнить Ваш заказ?</h4>
<hr>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4 low-font"><div style="color: #333333;">Регион исполнения заявки:</div></label>
            <div class="col-md-4">
                <select class="form-control" name="RegionId" id="RegionSelect" required>
                    <option disabled selected>Выберите регион</option>
                    @foreach (var item in Model.ListRegions)
                    {
                        <option id="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4 low-font"><div style="color: #333333;">Город исполнения заявки:</div></label>
            <div class="col-md-4">
                <select class="form-control" name="CityId" required>
                    <option disabled selected>Выберите город</option>
                </select>
            </div>
        </div>
		<br />
<h4 style="color: #333333;"><img src="~/Content/images/podpiska.svg" width="20" height="20" />Название и текст заявки</h4>
<hr>
        <div class="form-group">
            <label for="Title" class="control-label col-md-4 low-font"><div style="color: #333333;">Придумайте название заявки:</div></label>
            <div class="col-md-8">
                <input type="text" required class="form-control" placeholder="Например: Ищу ведущего/банкетный зал или DJ на юбилей 3 сентября" name="Title" maxlength="50" value="@Model.Title" />
            </div>
        </div>

        <div class="form-group">
            <label for="Message" class="control-label col-md-4 low-font"><div style="color: #333333;">Текст заявки/условия конкурса:</div></label>
            <div class="col-md-8">
                <textarea class="form-control" required rows="7" maxlength="4000" name="Message" placeholder="Максимально подробно опишите детали и условия вашей заявки, укажите  место проведения события, прочие условия, которые необходимо учесть исполнителям, перед тем, как сделать Вам выгодное предложение."></textarea>
            </div>
        </div>
		<br />
<h4 style="color: #333333;">Уточняющие детали</h4>
<h5 style="color: #555555;">Укажите только необходимые детали, которые могут пригодиться исполнителям!</h5>
<hr>
        <div class="form-group">
            <label for="CountGuests" class="control-label col-md-4 low-font"><div style="color: #333333;"> <img src="~/Content/images/data.png"width="19" height="20" /> Дата и время оказания услуги : </div></label>
            <div class="input-group date form_datetime col-md-3" data-date="" data-date-format="dd MM yyyy - HH:ii" data-link-field="dtp_input2" data-link-format="dd MM yyyy - HH:ii">
                <input class="form-control" size="16" type="text" value="" readonly name="EventDay" placeholder="Выберите дату">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="dtp_input2" value="" /><br />
            <script type="text/javascript">
                $('.form_datetime').datetimepicker({
                    language: 'ru',
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1
                });
            </script>
        </div>
        <div class="form-group">
            <label for="CountGuests" class="control-label col-md-4 low-font"><div style="color: #3333333;"> <img src="~/Content/images/gosti.png"width="25" height="20" />  Количество гостей?</div></label>
            <div class="col-md-3">
                <input type="number" min="0" step="1" class="form-control" name="CountGuests" placeholder="10" />
            </div>
        </div>
        <div class="form-group">
            <label for="Cost" class="control-label col-md-4 low-font"><div style="color: #333333;"><img src="~/Content/images/rubl.png"width="18" height="16" />  На какую сумму Вы ориентируетесь?</div></label>
            <div class="col-md-3">
                <input type="number" min="0" max="9000000" step="1" class="form-control" name="Cost" placeholder="Средняя цена" />
            </div>
        </div>

        <div class="form-group">
            <label for="ListFiles" class="control-label col-md-4 low-font"><div style="color: #333333;"><img src="~/Content/images/foto.png"width="20" height="20" /> Прикрепите до 3 фото если необходимо</div></label>
            <div class="col-md-5">
                <input type="file" accept="image/*" multiple class="form-control" name="ListFiles" value="" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4 low-font"><div style="color: #333333;"> <img src="~/Content/images/sekundomer.png"width="22" height="21" /> Время рассмотрения предложений?</div></label>
            <div class="col-md-2">
                <select class="form-control" name="ActiveTime">
                    @if (Model.ActiveTime == "3 дня")
                    {
                        <option selected="selected">3 дня</option>
                    }
                    else
                    {
                        <option>3 дня</option>
                    }
                    @if (Model.ActiveTime == "7 дней")
                    {
                        <option selected="selected">7 дней</option>
                    }
                    else
                    {
                        <option>7 дней</option>
                    }
                    @if (Model.ActiveTime == "14 дней")
                    {
                        <option selected="selected">14 дней</option>
                    }
                    else
                    {
                        <option>14 дней</option>
                    }
                    @if (Model.ActiveTime == "21 день")
                    {
                        <option selected="selected">21 день</option>
                    }
                    else
                    {
                        <option>21 день</option>
                    }
                </select>
            </div>
        </div>
		<hr>
      
        <div class="form-group">
            <div class="col-md-11" style="text-align: right;"> 
			<h5>После отправки заявки, сайт пригласит к участию в конкурсе исполнителей, учитывая выбранный город и услугу.</h5>
			
              <button type="submit" class="btn-class-orange" style="width: 40%"><span class="glyphicon glyphicon-send"></span>
Отправить заявку исполнителям услуг </button>
            </div>
        </div>
    </div>
	 <br />  <br />  <br /> 
}
<script src="~/Scripts/app/selectRegions.js"></script>
<script>
<<<<<<< HEAD
    blockBtns();

=======
    /*blockBtns();
    
>>>>>>> d47d310273ebf5c1ae5a02986b5ab63a94cf3281
    function blockBtns() {
        var els = $('button[type=submit]');
        els.on('click', function (e) {
            $('form').validate({
                invalidHandler: function (event, validator) {
                    $("label.error").remove();
                },
                submitHandler: function (form) {
                    $('button[type=submit]').attr('disabled', 'disabled');
                    form.submit();
                }
            });
        });
    }*/
</script>