@model MyTend.Models.CreateTenderModel

@{
    ViewBag.Title = "Новая заявка: " + Model.Theme.Theme;
}

@using (Html.BeginForm("Create", "Tender", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4" style="text-align: center">
                <img src="~/Content/images/kats/@Model.Theme.ImageName" width="140" height="120" />
            </div>
            <div class="col-md-8">
                <br /><br />
                <h4>Новая заявка - @Model.Theme.Theme</h4>
            </div>
        </div>
        <hr />
        @if (Model.Errors.Count > 0)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var item in Model.Errors)
                {
                    <p>@item</p>
                }
            </div>
        }

        <input hidden="hidden" value="@Model.Theme" name="Theme" />
        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4"></label>
            <div class="col-md-4">
                <input name="ThemeId" value="@Model.Theme.Id" hidden />
            </div>
        </div>
        <div class="form-group">
            <label for="TitleString" class="control-label col-md-4">Выберите категорию заявки:</label>
            <div class="col-md-4">
                <select class="form-control" name="TitleId" required>
                    @if (string.IsNullOrEmpty(Model.Theme.Title))
                    {
                        <option selected="selected" disabled="disabled">Выберите категорию</option>
                    }
                    else
                    {
                        <option selected="selected" disabled="disabled">Выберите категорию</option>
                    }

                    @foreach (var item in Model.ListThemes)
                    {
                        if (item.IsTitle)
                        {
                            <option disabled="disabled" style="color: #c30000; font-weight: bold;">@item.Title</option>
                        }
                        else
                        {
                            if (Model.Theme.Id == item.Id)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        }

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4">Страна исполнения заявки:</label>
            <div class="col-md-4">
                <select class="form-control" name="CountryId" id="CountrysSelect" required>
                    <option disabled selected>Выберите страну</option>
                    @foreach (var item in Model.ListCountrys)
                    {
                        <option id="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4">Регион исполнения заявки:</label>
            <div class="col-md-4">
                <select class="form-control" name="RegionId" id="RegionSelect" required>
                    <option disabled selected>Выберите регион</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4">Город исполнения заявки:</label>
            <div class="col-md-4">
                <select class="form-control" name="CityId" required>
                    <option disabled selected>Выберите город</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="Title" class="control-label col-md-4">Название заявки/торгов:</label>
            <div class="col-md-8">
                <input type="text" required class="form-control" placeholder="" name="Title" maxlength="100" value="@Model.Title" />
            </div>
        </div>

        <div class="form-group">
            <label for="Message" class="control-label col-md-4">Текст заявки:</label>
            <div class="col-md-8">
                <textarea class="form-control" required rows="7" maxlength="8000" name="Message" placeholder="Максимально подробно опишите детали и условия вашей заявки, укажите дату, место проведения события, количество гостей и прочие условия, которые необходимо учесть исполнителям, перед тем, как сделать Вам выгодное предложение."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="Cost" class="control-label col-md-4">Планируемый бюджет</label>
            <div class="col-md-2">
                <input type="number" min="0" step="1" class="form-control" name="Cost" placeholder="Средняя цена" value="@Model.Cost" />
            </div>
        </div>

        <div class="form-group">
            <label for="ListFiles" class="control-label col-md-4">По необходимости, можно прикрепить до 4 фото (до 2 мегабайт)</label>
            <div class="col-md-5">
                <input type="file" accept="image/*" multiple class="form-control" name="ListFiles" value="" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubTheme2" class="control-label col-md-4">Какое время, Вы планируете рассматривать предложения от исполнителей услуг?</label>
            <div class="col-md-2">
                <select class="form-control" name="ActiveTime">
                    @if (Model.ActiveTime == "3 дня")
                    {
                        <option selected="selected">3 дня</option>
                    }
                    else
                    {
                        <option>3 дня</option>
                    }
                    @if (Model.ActiveTime == "7 дней")
                    {
                        <option selected="selected">7 дней</option>
                    }
                    else
                    {
                        <option>7 дней</option>
                    }
                    @if (Model.ActiveTime == "14 дней")
                    {
                        <option selected="selected">14 дней</option>
                    }
                    else
                    {
                        <option>14 дней</option>
                    }
                    @if (Model.ActiveTime == "21 день")
                    {
                        <option selected="selected">21 день</option>
                    }
                    else
                    {
                        <option>21 день</option>
                    }
                </select>
            </div>
        </div>
        <div style="padding: 20px 0px 20px 0px; text-align: center;">
            Нажатие кнопки «Отправить заявку исполнителям» означает согласие с <a href="~/Docs/Instruction">Инструкцией заполнения заявок</a>.
        </div>
        <div class="form-group">
            <div class="col-md-12" style="text-align: center;">
                <button type="submit" class="btn btn-custom-red" style="width: 50%"><strong>Отправить заявку исполнителям</strong></button>
            </div>
        </div>
    </div>
    <a href="http://www.mazan-masters.com" target="_blank">
        <img src="~/Content/images/MAZANdance.png" style="width: 100%" />
    </a>
}
<script src="~/Scripts/app/selectRegions.js"></script>