@model MyTend.Models.TenderDetailsModel

@{
    ViewBag.Title = "Торг на право исполнения услуги.";
    var msgNum = 0;
}
<div class="row" style="border: 0px; border-bottom: 0px; border-color: #D8D8D8; border-style: solid;">
    <div class="col-md-12" style="text-align: center;">
        <h2>Заявка/конкурс, на предоставление услуги</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size: 14px;">
        <p>
            <span style="font-weight: normal; color: #d87f29;">Заказчик/покупатель:</span><br />

            @if (Model.Winner != null && ViewBag.UserLogin == Model.Winner.Login)
            {
                <span style="color: rgb(204, 0, 1); font-weight: bold">
                    @Html.ActionLink(Model.User.FullName, "Card", "Account", new { @user = Model.User.Login }, null)
                </span>
            }
            else
            {
                <span style="color: rgb(204, 0, 1); font-weight: bold">@Model.User.FullName</span>
                <span style="font-size: 10px; color: gray; padding-top: -15px;">
                    (Ссылка на визитку будет доступна только победителю аукционного-конкурса/торга)
                </span>
            }
        </p>
               <p>
            <span style="font-weight: normal; color: #d87f29;">Регион/Город исполнения заказа:</span><br />
            @if (Model.Region.IsMillion == false)
            {
              <span><strong>
                    @Model.Region.Country.Name / @Model.Region.Name / @Model.City.Name</strong>
                </span>
            }
            else
            {
                <span>
                    @Model.Region.Country.Name / @Model.Region.Name
                </span>
            }
        </p>
        <p>
            <span style="font-weight: normal; color: #d87f29;">Название заявки/конкурса:</span><br /><h4>
            @Model.Title</h4>
        </p>
        <p style="word-wrap: break-word;">
            <span style="font-weight: normal; color: #d87f29;">Текст заявки:</span><br />
            @Html.Raw(Model.Message.Replace("\n", "<br />"))
        </p>
        <p style="word-wrap: break-word;">
            <span style="font-weight: normal; color: #d87f29;">Период торга:</span><br />
            @string.Format("C " + Model.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + Model.DateEnd.ToString("dd.MM.yyyy"))
        </p>
        <p>
            <span style="font-weight: normal; color: #d87f29;">Планируемый бюджет:</span><br />
            <span style="color: hsl(100, 95%, 28%); font-weight: bold;">
                @if (Model.Cost.ToString() == "0")
                {
                    <sapn>
                        @Html.Raw(Model.Cost.ToString("0.00") + " руб.") (договорная)
                    </sapn>
                }
                else
                {
                    @Html.Raw(Model.Cost.ToString("0.00") + " руб.")
                }
            </span>
        </p>
    </div>
</div>

@if (Model.Files != null && Model.Files.Count > 0)
{
    <div class="row" style="padding-bottom: 10px;">
        <div id="gallery" style="display:none;">
            @foreach (var file in Model.Files)
            {
                <img src="~/File/get?id=@file.Id" data-image="/File/get?id=@file.Id" data-description="" style="display:none" />
            }
        </div>
        <script language="javascript">
            $(document).ready(function () {
                $("#gallery").unitegallery();
            });
        </script>
    </div>
}

@if (Model.IsActive == false)
{
    if (Model.Winner != null)
    {
        <style>
            .w_b {
                padding: 20px;
            }
        </style>

        <div class="row">
            <div class="col-lg-12 bg-success">
                <div class="w_b">
                    <div style="text-align: center">
                        Аукционный-торг закрыт! Победителем конкурса/торга выбран: <strong>@Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { @user = Model.Winner.Login }, new { @style = "color: red" })</strong>
                    </div>
                    <div style="text-align: center;">
                        Торг перенесён в "Завершенные торги (архив)"
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div style="text-align: center">
            Время публикации аукционного-торга истекло, победитель не выбран.
        </div>
        <div style="text-align: center;">
            Торг перенесён в меню "Завершенные торги"
        </div>
    }
}

<div style="padding-top: 15px;"></div>

@if (Model.Messages != null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row" style="border: 0px solid #d8dfe6; border-style: solid;">
        <div class="col-md-12" style="text-align: left; font-weight: ; color: #910e5e;">
            <strong> Сайт не является организатором сделки</strong>, покупателем, продавцом, посредником, агентом или представителем какого-либо Пользователя и/или иным заинтересованным лицом в отношении предлагаемой/заключаемой между Пользователями сделки. <br> Все совершаемые благодаря размещению информации на Сайте сделки между Пользователями заключаются и исполняются без прямого или косвенного участия Сайта.
        </div>

        @if (Model.IsActive)
        {
            if (Model.User.Login == ViewBag.UserLogin)
            {
                <div class="col-md-12" style="text-align: left;">
                    <strong>Уважаемые заказчики услуг:</strong>
                    <ul>
                        <li>Не торопитесь с выбором победителя торга. Дождитесь максимальное количество предложений. Каждое из них будет выгодно отличаться.</li>
                        <li>Не забывайте писать на "доске предложений" свои вопросы, уточнения или детали, которые должны знать исполнители услуг, предлагая вам свои условия.</li>
                        <li><strong>Выбрав  победителя, свяжитесь с ним по телефону</strong>.<br> Назначте встречу для возможного заключения сделки на условиях которые Вас устроили.</li>
                    </ul>
                </div>
            }
            else
            {

                <div class="col-md-12" style="text-align: left;">
                    <strong>Уважаемые исполнители услуг:</strong>
                    <ul>
                        <li>Внимательно изучив условия заявки от покупателя услуги, а также предложения конкурентов, <strong>сделайте более выгодное предложение</strong>.</li>
                        <li>Следите за ходом аукциона / торга и меняйте свои условия для покупателя на более выгодные, извучив предложения конкурентов.</li>
                        <li>Отправленное предложение невозможно отредактировать/изменить. Вы можете написать новое предложение с другими условиями.</li>
                    </ul>
                </div>
            }
        }

    </div>
    <br />
    if (Model.Messages.Count == 0)
    {
        if (Model.User.Login == this.ViewBag.UserLogin)
        {
            <div class="row">
                <div class="col-md-12" style="text-align: center; font-weight: bold;">
                    Предложений от исполнителей пока нет, рекомендуем проверить позже!
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12" style="font-size: 14px; color: white; background-color: #944295; text-align: center;">
                <strong>Доска предложений</strong>
            </div>
        </div>
    }
    foreach (var message in Model.Messages)
    {
        msgNum++;

        <div class="row" style="border: 1px solid #d8dfe6; border-bottom: 0px; border-style: solid;">
            <div class="col-md-3">
                <div style="width: 100%; text-align: left;">

                    @if (message.User.Avatar != null)
                    {
                        <a href="~/Account/Card?user=@message.User.Login">
                            <img src='/Image/Get?id=@message.User.Avatar.Id' style="width: 100%; height: 100%;  padding-top: 6px;" />
                        </a>
                    }
                    else
                    {
                        <p><img src='/Image/Get?id=0' style="width: 100%; height: 100%;  padding-top: 6px;" /></p>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div style="padding-top: 5px;">
                    <div style="color: blue; width:100%; text-align: left; font-size: 16px;">
                        @if (Model.Winner != null)
                        {
                            if (Model.Winner.Login == ViewBag.UserLogin)
                            {
                                <strong>
                                    @Html.ActionLink(message.User.FullName.ToUpper(), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: rgb(204, 0, 1); text-decoration: none;" })
                                </strong>
                            }
                            else
                            {
                                <strong style="color: rgb(204, 0, 1); text-decoration: none;">
                                    @message.User.FullName.ToUpper()
                                </strong>
                            }
                        }
                        else
                        {
                            <strong style="color: rgb(204, 0, 1); text-decoration: none;">
                                @if (message.User.Id != Model.User.Id)
                                {
                                    @Html.ActionLink(message.User.FullName.ToUpper(), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: rgb(18, 192, 239); text-decoration: none;" })
                                }
                                else
                                {
                                    @message.User.FullName.ToUpper()
                                }
                            </strong>
                        }
                    </div>
                    <div style="color: blue; width:100%; text-align: left; font-size: 14px;">
                        @if (Model.Winner != null)
                        {
                            if (Model.Winner.Login == ViewBag.UserLogin)
                            {
                                <strong>
                                    @Html.ActionLink(message.User.AboutShort, "Card", "Account", new { @user = message.User.Login }, new { @style = "color: gray; text-decoration: none;" })
                                </strong>
                            }
                            else
                            {
                                <div style="color: gray; text-decoration: none;">
                                    @if (message.User.AboutShort != null && !string.IsNullOrEmpty(message.User.AboutShort))
                                    {
                                        @message.User.AboutShort
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div style="color: gray; text-decoration: none;">
                                @if (message.User.AboutShort != null && !string.IsNullOrEmpty(message.User.AboutShort))
                                {
                                    @message.User.AboutShort
                                }
                            </div>
                        }
                    </div>
                    <div style="color: blue; width:100%; text-align: left; font-size: 14px;">
                        @if (Model.Winner != null)
                        {
                            if (Model.Winner.Login == ViewBag.UserLogin)
                            {
                                <strong>
                                    @Html.ActionLink(string.Format("{0}, {1}, {2}", message.User.City.Region.Country.Name, message.User.City.Region.Name, message.User.City.Name), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: black; text-decoration: none;" })
                                </strong>
                            }
                            else
                            {
                                <strong style="color: black; text-decoration: none;">
                                    @string.Format("{0}, {1}, {2}", message.User.City.Region.Country.Name, message.User.City.Region.Name, message.User.City.Name)
                                </strong>
                            }
                        }
                        else
                        {
                            <strong style="color: black; text-decoration: none;">
                                @string.Format("{0}, {1}, {2}", message.User.City.Region.Country.Name, message.User.City.Region.Name, message.User.City.Name)
                            </strong>
                        }
                    </div>

                    <div style="color:#d87f29; text-align: left; padding-top: 10px; padding-bottom: 10px;">
                        Предлагает Вам:
                    </div>

                    <div style="word-wrap: break-word;">
                        @Html.Raw(message.Message.Replace("\n", "<br />"))
                    </div>
                    <div style="color:gray; text-align: right;">
                        (@message.Date.ToString("dd.MM.yyyy HH:mm:ss"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border: 1px solid #d8dfe6; border-top: 0px; border-bottom: 0px; background-color: #f0f2f7; font-weight: bold;">
            <div class="col-md-12" style="text-align: right">
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    @if (message.User.Login != ViewBag.UserLogin)
                    {
                        <span>

                        </span>
                    }

                    @if (Model.Winner == null)
                    {
                        if (message.User.Login != ViewBag.UserLogin && Model.User.Login == ViewBag.UserLogin)
                        {
                            <span style="padding-left: 40px;">
                                @Html.ActionLink("Выбрать победителем", "SelectWinner", "Tender", new { @tenderId = Model.Id, @userId = message.User.Id }, new { @style = "", @class = "makeSub btn btn-custom-red" })
                            </span>
                        }
                    }
                    else
                    {
                        if (message.User.Id == Model.Winner.Id)
                        {
                            <span style="padding-left: 40px;">
                                @Html.ActionLink("Победитель торга", "Card", "Account", new { @user = message.User.Login }, new { @style = "color: red" })
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
    }
}

@if (Model.Winner == null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <input hidden="hidden" name="UserId" value="@Model.User.Id" />
            <input hidden="hidden" name="TenderId" value="@Model.Id" />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="Message" placeholder="Если Вы, желаете сделать предожение заказчику: максимально подробно опишите условия вашего предложения, указав преимущества перед конкурентами.
Если Вы заказчик: уточните детали Вашей  заявки или задайте вопрос исполнителям, если он у Вас имеется." maxlength="1000"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="" style="text-align: center;">
                    <button id="addMessage" type="button" class="btn btn-custom-red" onclick="addTenderMessage()"><strong>Отправить предложение / сообщение</strong></button>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/app/addTenderMessage.js"></script>
}

@Html.Partial("_ReportTenderMessage")

<script>
    $('a.makeSub').mouseup(function () {
        $('a.makeSub').attr('disabled', true);
    });
</script>