@model MyTend.Models.TenderDetailsModel

@{
    ViewBag.Title = "Тендер";
}
<div class="row" style="border: 0px; border-bottom: 0px; border-color: #D8D8D8; border-style: solid;">
    <div class="col-md-12" style="text-align: center;">
        <h4>Заявка</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size: 14px;">
        <p>
            <span style="font-weight: bold;">Заказчик/покупатель:</span><br />
            @Html.ActionLink(Model.User.FullName, "Card", "Account", new { @user = Model.User.Login }, new { @style = "font-size: 16px;" })
        </p>
        <p>
            <span style="font-weight: bold;">Тема заявки:</span><br />
            @Model.Theme.Theme
        </p>
        <p style="word-wrap: break-word;">
            <span style="font-weight: bold;">Категория заявки:</span><br />
            @Model.Theme.Title
        </p>
        <p>
            <span style="font-weight: bold;">Регион/Город исполнения заявки:</span><br />
            @Model.Region.Name / @Model.City.Name
        </p>
        <p>
            <span style="font-weight: bold;">Название торгов:</span><br />
            @Model.Title
        </p>
        <p style="word-wrap: break-word;">
            <span style="font-weight: bold;">Текст заявки:</span><br />
            @Html.Raw(Model.Message)
        </p>
        <p>
            <span style="font-weight: bold;">Планируемый бюджет:</span><br />
            @Html.Raw(Model.Cost.ToString("0.00") + " руб.")
        </p>
    </div>
</div>

@if (Model.Files != null && Model.Files.Count > 0)
{
    <div class="row" style="padding-bottom: 10px;">
        <div id="gallery" style="display:none;">
            @foreach (var file in Model.Files)
            {
                <img src="~/File/get?id=@file.Id" data-image="/File/get?id=@file.Id" data-description="" style="display:none" />
            }
        </div>
        <script language="javascript">
            $(document).ready(function () {
                $("#gallery").unitegallery();
            });
        </script>
    </div>
}

@if (Model.IsActive == false)
{
    if (Model.Winner != null)
    {
        <div style="color: red; text-align: center">
            Тендер закрыт! Победитель: <strong>@Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { @user = Model.Winner.Login }, new { @style = "color: red" })</strong>
        </div>
        <div style="color: red; text-align: center;">
            Тендер перенесён в @Html.ActionLink("Закрытые торги", "Closed")
        </div>
    }
    else
    {
        <div style="color: red; text-align: center">
            Тендер закрыт! Время публикации тендера истекло, победитель не выбран.
        </div>
        <div style="color: red; text-align: center;">
            Тендер перенесён в меню @Html.ActionLink("Закрытые торги", "Closed")
        </div>
    }
}

<div style="padding-top: 15px;"></div>

@if (Model.Messages != null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row" style="border: 0px solid #d8dfe6; border-style: solid;">
        <div class="col-md-12" style="text-align: center; font-weight: bold;">
            Вам предлагают:
        </div>
        @if (Model.User.Login == ViewBag.UserLogin)
        {
            <div class="col-md-12" style="text-align: left;">
                Внимательно ознакомьтесь с предложениями продавцов услуг по вашей заявке по мере их поступления.<p>
                Вы можете  общаться с продавцами в общем чате (видно всем) либо писать личные сообщения.
                Продавец который сделает для Вас самое выгодное предложение -станет победителем торга (нажмите кнопку "Выбрать победителем") После этого тендер закроется и перейдет в меню закрытые торги.   
            </div>

        }
        else
        {
            <div class="col-md-12" style="text-align: left;">
                1Внимательно ознакомьтесь с предложениями продавцов услуг по вашей заявке по мере их поступления.<p>
                Вы можете  общаться с продавцами в общем чате (видно всем) либо писать личные сообщения.
                Продавец который сделает для Вас самое выгодное предложение -станет победителем торга (нажмите кнопку "Выбрать победителем") После этого тендер закроется и перейдет в меню закрытые торги.
            </div>
        }
    </div>
    if(Model.Messages.Count == 0)
    {
        <div class="row">
            <div class="col-md-12" style="text-align: center; font-weight: bold;">
                Предложений пока нет
            </div>
        </div>
    }
    <br />
    foreach (var message in Model.Messages)
    {
        <div class="row" style="border: 2px solid #d8dfe6; border-style: solid;">
            <div class="col-md-3">
                <div style="width: 100%; text-align: center;">
                    @if (message.User.Avatar != null)
                    {
                        <p><img src='/Image/Get?id=@message.User.Avatar.Id' style="width: 150px; height: 150px;  padding-top: 5px;" /></p>
                    }
                    else
                    {
                        <p><img src='/Image/Get?id=0' style="width: 150px; height: 150px;  padding-top: 5px;" /></p>
                    }
                    
                    <p><div style="color: blue; width:100%; text-align: center; font-size: 16px;"><strong>@Html.ActionLink(message.User.FullName, "Card", "Account", new { @user = message.User.Login }, null)</strong></div></p>
                    <p>@Html.ActionLink("Визитка", "Card", "Account", new { @user = Model.User.Login }, new { @style = "font-size: 14px; text-decoration: underline;" })</p>
                    <p>г. @message.User.City.Name</p>
                </div>
            </div>
            <div class="col-md-9">
                <div style="padding-top: 5px;">
                    <div style="word-wrap: break-word;">
                        @message.Message
                    </div>
                    <div style="color:gray">
                        (@message.Date.ToString("dd.MM.yyyy hh:mm:ss"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border: 2px solid #d8dfe6; border-top: 0px; background-color: #d8dfe6; font-weight: bold;">
            <div class="col-md-12" style="text-align: right">
                <span>
                    <a href="#" id="login" class="btn" style="text-decoration: underline;">Пожаловаться</a>
                </span>
                <span style="padding-left: 20px;">
                    @Html.ActionLink("Написать сообщение", "Write", "Card", new { @toUser = message.User.Login }, null) 
                </span>

                @if (message.User.Login != ViewBag.UserLogin)
                {
                    <span style="padding-left: 20px;">
                        <a href="#">Добавить в визитки</a>
                    </span>
                }
                <span style="padding-left: 40px;">
                    @if (Model.Winner == null)
                    {
                        if (message.User.Login != ViewBag.UserLogin && Model.User.Login == ViewBag.UserLogin)
                        {
                            @Html.ActionLink("Выбрать победителем", "SelectWinner", "Tender", new { @tenderId = Model.Id, @userId = message.User.Id }, new { @style = "color: red" })
                        }
                    }
                    else
                    {
                        if (message.User.Id == Model.Winner.Id)
                        {
                            @Html.ActionLink("Победитель торга", "Card", "Account", new { @user = message.User.Login }, new { @style = "color: red" })
                        } 
                    }
                </span>
            </div>
        </div>
        <div class="padding-x-16"><br /></div>
    }
}

@if (Model.Winner == null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <input hidden="hidden" name="UserId" value="@Model.User.Id" />
            <input hidden="hidden" name="TenderId" value="@Model.Id" />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="Message" placeholder="Максимально подробно опишите детали и условия вашего предложения"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="" style="text-align: center;">
                    <button type="button" class="btn btn-two" onclick="addTenderMessage()">Добавить предложение / сообщение</button>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/app/addTenderMessage.js"></script>
}

@Html.Partial("_ReportTenderMessage")