@model MyTend.Models.TenderDetailsModel

@{
    ViewBag.Title = "Торг";
    var msgNum = 0;
}
<div class="row" style="border: 0px; border-bottom: 0px; border-color: #D8D8D8; border-style: solid;">
    <div class="col-md-12" style="text-align: center;">
        <h2>Заявка на предоставление услуг</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size: 14px;">
        <p>
            <span style="font-weight: normal; color: gray;">Заказчик/покупатель:</span><br />

            @if (Model.Winner != null && ViewBag.UserLogin == Model.Winner.Login)
            {
                <span style="color: rgb(204, 0, 1); font-weight: bold">
                    @Html.ActionLink(Model.User.FullName, "Card", "Account", new { @user = Model.User.Login }, null)
                </span>
            }
            else
            {
                <span style="color: rgb(204, 0, 1); font-weight: bold">@Model.User.FullName</span>
                <span style="font-size: 10px; color: gray; padding-top: -15px;">
                    (Ссылка на визитку будет доступна только победителю торга.)
                </span>
            }
        </p>
        <p>
            <span style="font-weight: normal; color: gray;">Тема заявки:</span><br />
            @Model.Theme.Theme
        </p>
        <p style="word-wrap: break-word;">
            <span style="font-weight: normal; color: gray;">Категория заявки:</span><br />
            @Model.Theme.Title
        </p>
        <p>
            <span style="font-weight: normal; color: gray;">Регион/Город исполнения заявки:</span><br />
            @if (Model.Region.IsMillion == false)
            {
                <span>
                    @Model.Region.Country.Name / @Model.Region.Name / @Model.City.Name
                </span>
            }
            else
            {
                <span>
                    @Model.Region.Country.Name / @Model.Region.Name
                </span>
            }
        </p>
        <p>
            <span style="font-weight: normal; color: gray;">Название торгов:</span><br />
            @Model.Title
        </p>
        <p style="word-wrap: break-word;">
            <span style="font-weight: normal; color: gray;">Текст заявки:</span><br />
            @Html.Raw(Model.Message.Replace("\n", "<br />"))
        </p>
        <p>
            <span style="font-weight: normal; color: gray;">Планируемый бюджет:</span><br />
            <span style="color: hsl(100, 95%, 28%); font-weight: bold;">
                @if (Model.Cost.ToString() == "0")
                {
                    <sapn>
                        @Html.Raw(Model.Cost.ToString("0.00") + " руб.") (договорная)
                    </sapn>
                }
                else
                {
                    @Html.Raw(Model.Cost.ToString("0.00") + " руб.")
                }
            </span>
        </p>
    </div>
</div>

@if (Model.Files != null && Model.Files.Count > 0)
{
    <div class="row" style="padding-bottom: 10px;">
        <div id="gallery" style="display:none;">
            @foreach (var file in Model.Files)
            {
                <img src="~/File/get?id=@file.Id" data-image="/File/get?id=@file.Id" data-description="" style="display:none" />
            }
        </div>
        <script language="javascript">
            $(document).ready(function () {
                $("#gallery").unitegallery();
            });
        </script>
    </div>
}

@if (Model.IsActive == false)
{
    if (Model.Winner != null)
    {
        <style>
            .w_b {
                padding: 20px;
            }
        </style>

        <div class="row">
            <div class="col-lg-12 bg-success">
                <div class="w_b">
                    <div style="text-align: center">
                        Торг закрыт! Победителем торга выбран: <strong>@Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { @user = Model.Winner.Login }, new { @style = "color: red" })</strong>
                    </div>
                    <div style="text-align: center;">
                        Торг перенесён в "Завершенные торги"
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div style="text-align: center">
            Время публикации торга истекло, победитель не выбран.
        </div>
        <div style="text-align: center;">
            Торг перенесён в меню "Завершенные торги"
        </div>
    }
}

<div style="padding-top: 15px;"></div>

@if (Model.Messages != null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row" style="border: 0px solid #d8dfe6; border-style: solid;">
        <div class="col-md-12" style="text-align: left; font-weight: ; color: #000000;">
            <strong> Сайт не является организатором сделки</strong>, Покупателем, Продавцом, посредником, агентом или представителем какого-либо Пользователя и/или иным заинтересованным лицом в отношении предлагаемой/заключаемой между Пользователями сделки. Все совершаемые благодаря размещению информации на Сайте сделки между Пользователями заключаются и исполняются без прямого или косвенного участия Сайта.
        </div>

        @if (Model.IsActive)
        {
            if (Model.User.Login == ViewBag.UserLogin)
            {
                <div class="col-md-12" style="text-align: left;">
                    <ul>
                        <strong>Уважаемые покупатели услуг:</strong>
                        <li>Не торопитесь с выбором победителя торга. Дождитесь максимальное количество предложений. Каждое будет выгодно отличаться от предыдущего.</li>
                        <li>Не забывайте писать на "доске предложений" свои вопросы, уточнения или детали, которые должны знать продвцы услуг предлагая вам свои условия.</li>
                        <li><strong>Выбрав  победителя свяжитесь с ним по телефону</strong>. Назначте встречу для возможного заключения сделки на условиях которые Вас устроили.</li>
                    </ul>
                </div>
            }
            else
            {

                <div class="col-md-12" style="text-align: left;">
                    <ul>
                        <strong>Уважаемые продавцы услуг:</strong>
                        <li> Внимательно изучив условия заявки от покупателя услуги, а также предложения конкурентов, <strong>сделайте более выгодное предложение</strong>.</li>
                        <li>  Следите за ходом торга и меняйте свои условия для покупателя на более выгодные, извучив предложения конкурентов.</li>
                        <li>Отправленное предложение невозможно отредактировать/изменить. Вы можете написать новое предложение с другими условиями.</li>
                    </ul>
                </div>
            }
        }

    </div>
    <br />
    if (Model.Messages.Count == 0)
    {
        <div class="row">
            <div class="col-md-12" style="text-align: center; font-weight: bold;">
                Предложений пока нет, рекоменуем проверить позже!
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12" style="font-size: 14px; color: white; background-color: rgb(204, 0, 1); text-align: center;">
                <strong>Доска предложений</strong>
            </div>
        </div>
    }
    foreach (var message in Model.Messages)
    {
        msgNum++;

        <div class="row" style="border: 1px solid #d8dfe6; border-bottom: 0px; border-style: solid;">
            <div class="col-md-3">
                <div style="width: 100%; text-align: left;">

                    @if (message.User.Avatar != null)
                    {
                        <p>
                            <a href="~/Account/Card?user=@message.User.Login">
                                <img src='/Image/Get?id=@message.User.Avatar.Id' style="width: 100%; height: 100%;  padding-top: 6px;" />
                            </a>
                        </p>
                    }
                    else
                    {
                        <p><img src='/Image/Get?id=0' style="width: 100%; height: 100%;  padding-top: 6px;" /></p>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div style="padding-top: 5px;">
                    <div style="color: blue; width:100%; text-align: left; font-size: 16px;">
                        <strong>
                            @Html.ActionLink(message.User.FullName.ToUpper(), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: rgb(204, 0, 1); text-decoration: none;" })
                        </strong>
                    </div>
                    <div style="color: blue; width:100%; text-align: left; font-size: 14px;">
                        @if (message.User.AboutShort != null && !string.IsNullOrEmpty(message.User.AboutShort))
                        {
                            <strong>
                                @Html.ActionLink(message.User.AboutShort, "Card", "Account", new { @user = message.User.Login }, new { @style = "color: gray; text-decoration: none;" })
                            </strong>
                        }
                    </div>
                    <div style="color: blue; width:100%; text-align: left; font-size: 14px;">
                        <strong>
                            @Html.ActionLink(string.Format("{0}, {1}, {2}", message.User.City.Region.Country.Name, message.User.City.Region.Name, message.User.City.Name), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: black; text-decoration: none;" })
                        </strong>
                    </div>

                    <div style="color:gray; text-align: left; padding-top: 10px; padding-bottom: 10px;">
                        Предлагает Вам:
                    </div>

                    <div style="word-wrap: break-word;">
                        @message.Message
                    </div>
                    <div style="color:gray; text-align: right;">
                        (@message.Date.ToString("dd.MM.yyyy HH:mm:ss"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border: 1px solid #d8dfe6; border-top: 0px; border-bottom: 0px; background-color: #f0f2f7; font-weight: bold;">
            <div class="col-md-12" style="text-align: right">
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    @if (message.User.Login != ViewBag.UserLogin)
                    {
                        <span>

                        </span>
                    }

                    @if (Model.Winner == null)
                    {
                        if (message.User.Login != ViewBag.UserLogin && Model.User.Login == ViewBag.UserLogin)
                        {
                            <span style="padding-left: 40px;">
                                @Html.ActionLink("Выбрать победителем", "SelectWinner", "Tender", new { @tenderId = Model.Id, @userId = message.User.Id }, new { @style = "", @class = "btn btn-custom-red" })
                            </span>
                        }
                    }
                    else
                    {
                        if (message.User.Id == Model.Winner.Id)
                        {
                            <span style="padding-left: 40px;">
                                @Html.ActionLink("Победитель торга", "Card", "Account", new { @user = message.User.Login }, new { @style = "color: red" })
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
    }
}

@if (Model.Winner == null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <input hidden="hidden" name="UserId" value="@Model.User.Id" />
            <input hidden="hidden" name="TenderId" value="@Model.Id" />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="Message" placeholder="Если Вы продавец: максимально подробно опишите условия вашего предложения, указав преимущества перед конкурентами.
Если Вы покупатель: уточните детали Вашей  заявки или задайте вопрос продавцам."></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="" style="text-align: center;">
                    <button type="button" class="btn btn-custom-red" onclick="addTenderMessage()">Отправить предложение / сообщение</button>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/app/addTenderMessage.js"></script>
}

@Html.Partial("_ReportTenderMessage")