@model MyTend.Models.TenderDetailsModel

@{
    ViewBag.Title = "Конкурс на право исполнения услуги";
    var msgNum = 0;
}
<br />
<div class="row" style="border: 0px; border-bottom: 0px; border-color: #D8D8D8; border-style: solid;">
    <div class="col-md-12" style="text-align: left;">
        <h2><div style="color: #111111;"> @Model.Title </h2>
	
		<p>Заказчик 

                @if (Model.Winner != null && ViewBag.UserLogin == Model.Winner.Login)
            {
                    <span style="color: #307a7fa; font-weight: bold"><span class="glyphicon glyphicon-user"></span> 
                        @Html.ActionLink(Model.User.FullName, "Card", "Account", new { @user = Model.User.Login }, null)
                    </span>
                }
                else
                {
                    <span style="color: #eca62b; font-weight: bold"><span class="glyphicon glyphicon-user"></span> @Model.User.FullName </span>

                    <span>
					 @string.Format("рассматривает предложения с " + Model.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + Model.DateEnd.ToString("dd.MM.yyyy"))
                     </span>
					
					
					                 }
           </p>
		<div style="text-align: center;">
    
           <div class="title-line">Детали заявки</div>
  
</div>	
<div class="row">
    <div class="col-md-12";">
             <h5> <img src="~/Content/images/geo2.png"width="17" height="17" />
           
            Место исполнения:@if (Model.Region.IsMillion == false)
            {
                <span>
                    @Model.Region.Country.Name / @Model.Region.Name / @Model.City.Name
                </span>
            }
            else
            {
                <span>
                    @Model.Region.Country.Name / @Model.Region.Name
                </span>
            }
        </h5>
				
		<h5>
		<div style="color: #111111 ;">  <img src="~/Content/images/data.png"width="18" height="19" /> Дата и время проведения:<strong>
                @string.Format("{0}  {1}", Model.EventDay, Model.EventTime)</strong>
            </div>
        </h5>

		
    </div>
</div>
		
    <p style="word-wrap: break-word;">
      <img src="~/Content/images/gosti.png"width="20" height="18" /> Количество гостей <span style="color: #333333;"><strong>
                @string.Format("{0} чел.", Model.CountGuests)</strong>
            </span>
       
		    
       <h5><img src="~/Content/images/rubl.png"width="19" height="16" /> Запланированный бюджет <strong>
    <span style="color: #333333;">
        @if (Model.Cost.ToString() == "0")
        {
            <sapn>
                @Html.Raw(Model.Cost.ToString("0.00") + " руб.") (договорная)
            </sapn>
        }
        else
        {
            @Html.Raw(Model.Cost.ToString("0.00") + " руб.")
        }
    </span></strong>
</h5>
    </p>
    <div style="text-align: center;">
    
        <div class="title-line">Текст заявки, условия заказа</div>
	   
  
    </div>
    
    </div>
    </p>
		<p style="word-wrap: break-word; font-size: 17px; line-height: 18px;">
        @Html.Raw(Model.Message.Replace("\n", "<br />"))
    </p>
  
     </p>
</div>
        
 <div style="text-align: center;"><br>
    
           <div class="title-line">Прикрепленные изображения</div>
		   </div>
@if (Model.Files != null && Model.Files.Count > 0)
{
    <div class="row" style="padding-bottom: 10px;">
        <div id="gallery" style="display:none;">
            @foreach (var file in Model.Files)
            {
                <img src="~/File/get?id=@file.Id" data-image="/File/get?id=@file.Id" data-description="" style="display:none" />
            }
        </div>
        <script language="javascript">
            $(document).ready(function () {
                $("#gallery").unitegallery();
            });
        </script>
    </div>
}

@if (Model.IsActive == false)
{
    if (Model.Winner != null)
    {
        <style>
            .w_b {
                padding: 20px;
            }
        </style>

        <div class="row">
            <div class="col-lg-12 bg-success">
                <div class="w_b">
                    <div style="text-align: center">
                        Аукционный-торг закрыт! Победителем конкурса/торга выбран: <strong>@Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { @user = Model.Winner.Login }, new { @style = "color: red" })</strong>
                    </div>
                    <div style="text-align: center;">
                        Торг перенесён в "Завершенные торги (архив)"
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div style="text-align: center">
            Время публикации аукционного-торга истекло, победитель не выбран.
        </div>
        <div style="text-align: center;">
            Торг перенесён в меню "Завершенные торги"
        </div>
    }
}

<div style="padding-top: 15px;"></div>

@if (Model.Messages != null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row" style="border: 0px solid #d8dfe6; border-style: solid;">
        

        @if (Model.IsActive)
        {
            if (Model.User.Login == ViewBag.UserLogin)
            {
		 <div style="text-align: center;"><br>
    
           <div class="title-line">Молодой хозяйке на заметку!</div>
		   </div>
 <h5> <img src="~/Content/images/galochka.png" /> Победитель конкурсного - торга, не может повысить цену или изменить объем услуги предложенной на сайте. </h5>
<h5> <img src="~/Content/images/galochka.png" /> Ссылка на визитку заказчика, будет доступна только победителю конкурсного-торга. </h5>
<h5> <img src="~/Content/images/galochka.png" /> Выбрать можно только 1 победителя. </h5>

            }
        }

    </div>
    <br />
    if (Model.Messages.Count == 0)
    {
        if (Model.User.Login == this.ViewBag.UserLogin)
        {
            <div class="row">
                <div class="col-md-12" style="text-align: center; font-weight: bold;">
                    Предложений от исполнителей пока нет, рекомендуем проверить позже!
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12" style="font-size: 14px; color: white; background-color: #944295; text-align: center;">
                <strong><i class="glyphicon glyphicon-comment" style="color: #ffffff;"></i>  Доска предложений</strong>
            </div>
        </div>
    }
    foreach (var message in Model.Messages)
    {
        msgNum++;

        <div class="row" style="border: 1px solid #d8dfe6; border-bottom: 0px; border-style: solid; border-top: 0px;">
            <div class="col-md-2">
                <div style="width: 100%; text-align: center;">

                    @if (message.User.Avatar != null)
                    {
                        <a href="~/Account/Card?user=@message.User.Login">
                            <img src='/Image/Get?id=@message.User.Avatar.Id' style="width: 120px; height: 120px;  padding-top: 6px;" />
                        </a>
                    }
                    else
                    {
                        <p><img src='/Image/Get?id=0' style="width: 120px; height: 120px;  padding-top: 6px;" /></p>
                    }
                </div>
            </div>
            <div class="col-md-10">
                <div style="padding-top: 5px;">
                    <div style="color: blue; width:100%; text-align: left; font-size: 16px;">
                        @if (Model.Winner != null)
                        {
                            if (Model.Winner.Login == ViewBag.UserLogin)
                            {
                                <strong>
                                    @Html.ActionLink(message.User.FullName.ToUpper(), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: rgb(204, 0, 1); text-decoration: none;" })
                                </strong>
                            }
                            else
                            {
                                <strong style="color: rgb(204, 0, 1); text-decoration: none; ">
                                    @message.User.FullName.ToUpper()
                                </strong>
                            }
                        }
                        else
                        {
                            <strong style="color: rgb(204, 0, 1); text-decoration: none;">
                                @if (message.User.Id != Model.User.Id)
                                {
                                    @Html.ActionLink(message.User.FullName.ToUpper(), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: rgb(18, 192, 239); text-decoration: none;" })
                                }
                                else
                                {
                                    @message.User.FullName.ToUpper()
                                }
                            </strong>
                        }
                    </div>
                    <div style="color: blue; width:100%; text-align: left; font-size: 20px; ">
                        @if (Model.Winner != null)
                        {
                            if (Model.Winner.Login == ViewBag.UserLogin)
                            {
                                <h5>
                                    @Html.ActionLink(message.User.AboutShort, "Card", "Account", new { @user = message.User.Login }, new { @style = "color: #919191; text-decoration: none;" })
                                </h5>
                            }
                            else
                            {
                                <div style="color: #919191; text-decoration: none; line-height: 15px;">
                                    @if (message.User.AboutShort != null && !string.IsNullOrEmpty(message.User.AboutShort))
                                    {
                                        @message.User.AboutShort
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div style="color: #919191; text-decoration: none; line-height: 15px;">
                                @if (message.User.AboutShort != null && !string.IsNullOrEmpty(message.User.AboutShort))
                                {
                                    @message.User.AboutShort
                                }
                            </div>
                        }
                    </div>
                    <div style="color: blue; width:100%; text-align: left; font-size: 14px; line-height: 15px;">
                        @if (Model.Winner != null)
                        {
                            if (Model.Winner.Login == ViewBag.UserLogin)
                            {
                                @Html.ActionLink(string.Format("{0}", message.User.City.Name), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: #919191; text-decoration: none;" })
                            }
                            else
                            {
                                @Html.ActionLink(string.Format("{0}", message.User.City.Name), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: #919191; text-decoration: none;" })
                            }
                        }
                        else
                        {
                            @Html.ActionLink(string.Format("{0}", message.User.City.Name), "Card", "Account", new { @user = message.User.Login }, new { @style = "color: #919191; text-decoration: none;" })
                        }
                    </div>

                    <div style="word-wrap: break-word; line-height: 18px;">
                        @Html.Raw(message.Message.Replace("\n", "<br />"))
                    </div>
                    <div style="text-align: right;">
                        <div>
                            Окажет услугу за:
                        </div>
                        <div style="color:#89c728">
                            <span style="font-weight:bold; font-size: 28px;">@message.CanSumm</span>
                        </div>
                    </div>
                    <div style="color:gray; text-align: right;">
                        (@message.Date.ToString("dd.MM.yyyy HH:mm:ss"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border: 1px solid #d8dfe6; border-top: 0px; border-bottom: 0px; background-color: #f0f2f7; font-weight: bold;">
            <div class="col-md-12" style="">
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    @if (Model.Winner == null)
                    {
                        if (message.User.Login != ViewBag.UserLogin && Model.User.Login == ViewBag.UserLogin)
                        {
                            <div style="width: 100%; text-align: right">
                                <span style="padding-left: 40px;">
                                    <a href="#" class="makeSub" data-toggle="modal" data-target="@String.Format("#myModal-{0}", msgNum)">Выбрать победителем конкурса</a>
                                </span>
                            </div>
                            <!-- Всплывающее окно начало -->
                            <div class="modal fade" id="@String.Format("myModal-{0}", msgNum)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img src="@Url.Content("~/Content/images/logo4.png")" height="120">
											<br />
											<br />
											
                                            <h4 class="modal-title" id="myModalLabel">  Вы уверены что хотите выбрать победителем <br /> @message.User.FullName</h4>
                                        </div>
                                        <div class="modal-body">
                                       
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-custom-red" data-dismiss="modal">Отмена</button>
                                            <button type="button" class="btn btn-custom-green" onclick="selectWinner(@Model.Id, @message.User.Id)">Выбрать победителем, остановить конкурсный-торг!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Всплывающее окно начало -->
                        }
                    }
                    else
                    {
                        if (message.User.Id == Model.Winner.Id)
                        {
                            <span style="padding-left: 40px;">
                                @Html.ActionLink("Победитель торга", "Card", "Account", new { @user = message.User.Login }, new { @style = "color: red" })
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
	
<script>
    function selectWinner(tenderId, userId) {
        $.ajax({
            url: '/Tender/SelectWinner',
            data: {
                userId: userId,
                tenderId: tenderId
            },
            success: function () {
                var url = "@string.Format("/Tender/SelectedWinner?id={0}", Model.Id)"
                window.location = url;
            }
        })
    }
</script>

@if (Model.Winner == null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <input hidden="hidden" name="UserId" value="@Model.User.Id" />
            <input hidden="hidden" name="TenderId" value="@Model.Id" />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="Message" placeholder="Если Вы, желаете сделать предожение заказчику: максимально подробно опишите условия вашего предложения, указав преимущества перед коллегами-конкурентами.
Если Вы заказчик: уточните детали Вашей  заявки или задайте вопрос исполнителям, если он у Вас имеется." maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-4" >  
                    <input type="number" min="0" class="form-control" name="CanSumm" placeholder="Предлагаемая сумма" >
                </div>
                <div class="form-group">
                    <div class="" style="text-align: right; width: 100%">
                        <button id="addMessage" type="button" class="btn btn-custom-green" onclick="addTenderMessage()">Отправить предложение / сообщение</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/app/addTenderMessage.js"></script>
}

@Html.Partial("_ReportTenderMessage")

<script>
    $('a.makeSub').mouseup(function () {
        $('a.makeSub').attr('disabled', true);
    });
</script>