@model MyTend.Models.MyTendersModel

@{
    ViewBag.Title = "Мои заявки исполнителям";
}

<h1 style="color: #000000;"><STRONG>Ваши заявки исполнителям Event-услуг</STRONG></h1>
<h5 style="color: #777777;">Читайте предложения исполнителей услуг, сравнивайте условия и цены, выбирайте лучшее!
</h5><br />
<div class="tabs">
    <ul class="nav nav-tabs nav-justified" >
        <li class="active"><a href="#tab5-1" data-toggle="tab" style="text-decoration: none; border-radius: 3px 3px 3px 3px;">Идет выбор исполнителя заявки</a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab" style="text-decoration: none; border-radius: 3px 3px 3px 3px;">Победитель заявки выбран / Заявка закрыта</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            @foreach (var item in Model.OpenTenders)
            {
                <div class="row" id="tenderrow-@item.Id">
                    <div class="col-lg-2" style="text-align: center">
                        <a href="~/Tender/Details?id=@item.Id">
                            @if (item.User.Avatar != null)
                            {
                            <div>
                                <img src="~/image/get/@item.User.Avatar.Id" width="100" height="100" class="img-circle" />
                            </div>
                            }
                            else
                            {
                            <div>
                                <img src="~/image/get/0" width="100" height="100" class="img-circle" />
                            </div>
                            }
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <table style="width: 100%">
                            <tr>
                                <td style="padding-left: 10px;">
                                    <h4> @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null) </h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px;">
                                    @if (item.Cost == 0)
                                    {
                                        @:<div><p style="word-wrap: break-word; font-size: 17px;">Договорная</div>
                                    }
                                    else
                                    {
                                        @:<div><p style="font-size:17px">@item.Cost.ToString("0.00") руб.</p></div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px;">
                                    <div style="color: #858585; line-height: 18px;">
                                        @item.Theme.Title <br />
                                        @item.City.Name <br />
                                        @string.Format("Рассмотрение предложений: c " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px; text-align: right;">
                                    <a href="#" style="color: #b0b0b0;" onclick="hideTender(@item.Id)"><i class="glyphicon glyphicon-remove" style="color: #b0b0b0;"></i>Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane" id="tab5-2">
            @foreach (var item in Model.CloseTenders)
            {
                <div class="row" id="tenderrow-@item.Id">
                    <div class="col-lg-2" style="text-align: center">
                        <a href="~/Tender/Details?id=@item.Id">
                            @if (item.User.Avatar != null)
                            {
                            <div>
                                <img src="~/image/get/@item.User.Avatar.Id" width="100" height="100" class="img-circle" />
                            </div>
                            }
                            else
                            {
                            <div>
                                <img src="~/image/get/0" width="100" height="100" class="img-circle" />
                            </div>
                            }
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <table style="width: 100%">                            
                            <tr>
                                <td style="padding-left: 10px;">
                                    <h4> @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null) </h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px;">
                                    @if (item.Cost == 0)
                                    {
                                        @:<div><p style="word-wrap: break-word; font-size: 17px;">Договорная</div>
                                    }
                                    else
                                    {
                                        @:<div><p style="font-size:17px">@item.Cost.ToString("0.00") руб.</p></div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px;">
                                    <div style="color: #858585; line-height: 18px;">
                                        @item.Theme.Title <br />
                                        @item.City.Name <br />
                                        @string.Format("Рассмотрение предложений: c " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px; text-align: right;">
                                    <a href="#" style="color: #b0b0b0;" onclick="hideTender(@item.Id)"><i class="glyphicon glyphicon-remove" style="color: #b0b0b0;"></i>Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
