@model MyTend.Models.MyTendersModel

@{
    ViewBag.Title = "Мои заявки исполнителям";
}

<h2>Мои заявки исполнителям</h2>
<h4>Список заявок/торгов по вашим заявкам (вы заказчик услуги)</h4>

<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#tab5-1" data-toggle="tab" style="text-decoration: none;"><strong>Идет выбор исполнителя заявки</strong></a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab" style="text-decoration: none;"><strong>Победитель заявки выбран/Заявка закрыта</strong></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            @foreach (var item in Model.OpenTenders)
            {
                <div class="row" id="tenderrow-@item.Id">
                    <div class="col-lg-1">
                        <a href="~/Tender/Details?id=@item.Id">
                            <img src="~/Content/images/kats/@item.Theme.ImageName" width="60" height="50" />
                        </a>
                    </div>
                    <div class="col-lg-11">
                        <table style="width: 100%">
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Название заявки/торгов:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.Title
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Тема/категория:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.Theme.Theme: @item.Theme.Title
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Регион/Город:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.City.Name
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Бюджет:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.Cost.ToString("0.00") руб.
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Период торга:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @string.Format("C " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;"></td>
                                <td style="padding-left: 10px;">
                                    @Html.ActionLink("Посмотреть подробнее...", "Details", "Tender", new { id = item.Id }, null)
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;"></td>
                                <td style="padding-left: 10px; text-align: right;">
                                    <a href="#" style="color: red;" onclick="hideTender(@item.Id)"><span class="fa fa-trash"></span> Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rowWhite">

                </div>
            }
        </div>
        <div class="tab-pane" id="tab5-2">
            @foreach (var item in Model.CloseTenders)
            {
                <div class="row">
                    <div class="col-lg-1">
                        <a href="~/Tender/Details?id=@item.Id">
                            <img src="~/Content/images/kats/@item.Theme.ImageName" width="60" height="50" />
                        </a>
                    </div>
                    <div class="col-lg-11">
                        <table style="width: 100%">
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Название заявки/торгов:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.Title
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Тема/категория:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.Theme.Theme: @item.Theme.Title
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Регион/Город:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.City.Name
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Бюджет:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.Cost.ToString("0.00") руб.
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong>Период торга:</strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @string.Format("C " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;"></td>
                                <td style="padding-left: 10px;">
                                    @Html.ActionLink("Подробнее...", "Details", "Tender", new { id = item.Id }, null)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
    <div class="rowWhite">

    </div>
            }
        </div>
    </div>

</div>
