@model MyTend.Models.MyTendersModel

@{
    ViewBag.Title = "Мои заявки исполнителям";
}

<h3 style="color: #111111;">Ваши заявки исполнителям Event-услуг</h3>
<h6 style="color: #000000;">В этом меню Вы можете видеть список ваших заявок и проверять наличие предложений от иполнителей услуг (Вы заказчик услуги)</h6>
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#tab5-1" data-toggle="tab" style="text-decoration: none;"><strong>Идет выбор исполнителя заявки</strong></a></li>
        <li class=""><a href="#tab5-2" data-toggle="tab" style="text-decoration: none;"><strong>Победитель заявки выбран/Заявка закрыта</strong></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            @foreach (var item in Model.OpenTenders)
            {
                <div class="row" id="tenderrow-@item.Id">
                    <div class="col-lg-1">
                        <a href="~/Tender/Details?id=@item.Id">
                            <img src="~/Content/images/kats/@item.Theme.ImageName" width="90" height="100" />
                        </a>
                    </div>
                    <div class="col-lg-11">
                        <table style="width: 100%">
                            <tr>
                               <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;">
                                  <h4> @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null) </h4>
                                </td>
                            </tr>
							<tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @if (item.Cost == 0)
                                    {
                                        @:<div><p style="word-wrap: break-word; font-size: 17px;">Договорная</div>
                                    }
                                    else
                                    {
                                        @:<div><p style="font-size:17px">@item.Cost.ToString("0.00") руб.</p></div>
                                    }
                                </td>
                            </tr>
                                                       <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;"><span style="color: #858585;">
                                    @item.City.Name</span>
                                </td>
                            </tr>
                               <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;"> <span style="color: #858585;">
                                    @string.Format("Рассмотрение предложений: c " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))</span>
                                </td>
                            </tr>
                           
                            <tr>
                                <td width="20%" style="text-align: right;"></td>
                                <td style="padding-left: 10px; text-align: right;">
                                    <a href="#" style="color: #eca62b;" onclick="hideTender(@item.Id)"><i class="glyphicon glyphicon-remove" style="color: #eca62b;"></i>Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rowWhite">

                </div>
            }
        </div>
        <div class="tab-pane" id="tab5-2">
            @foreach (var item in Model.CloseTenders)
            {
                <div class="row" id="tenderrow-@item.Id">
                    <div class="col-lg-1">
                        <a href="~/Tender/Details?id=@item.Id">
                            <img src="~/Content/images/kats/@item.Theme.ImageName" width="90" height="100" />
                        </a>
                    </div>
                    <div class="col-lg-11">
                        <table style="width: 100%">
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    <h4> @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null) </h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    @if (item.Cost == 0)
                                    {
                                        @:<div><p style="word-wrap: break-word; font-size: 17px;">Договорная</div>
                                    }
                                    else
                                    {
                                        @:<div><p style="font-size:17px">@item.Cost.ToString("0.00") руб.</p></div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    <span style="color: #858585;">
                                        @item.City.Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="text-align: right;">
                                    <strong></strong>
                                </td>
                                <td style="padding-left: 10px;">
                                    <span style="color: #858585;">
                                        @string.Format("Рассмотрение предложений: c " + item.CreatedDateTime.ToString("dd.MM.yyyy") + " до " + item.DateEnd.ToString("dd.MM.yyyy"))
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td width="20%" style="text-align: right;"></td>
                                <td style="padding-left: 10px; text-align: right;">
                                    <a href="#" style="color: #eca62b;" onclick="hideTender(@item.Id)"><i class="glyphicon glyphicon-remove" style="color: #eca62b;"></i>Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rowWhite">

                </div>
            }
        </div>
    </div>

</div>
