@model MyTend.Models.MyTendersModel

@{
    ViewBag.Title = "Мои тендеры";
}

<h2>Список моих торгов</h2>

<table class="table table-striped">
    <tr>
        <th>

        </th>
        <th>
            
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model.Tenders)
    {
        <tr>
            <td>
                <a href="~/Tender/Details?id=@item.Id">
                    <img src="~/Content/images/kats/@item.Theme.ImageName" width="50" height="40" />
                </a>
            </td>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td width="20%" style="text-align: right;">
                            <strong>Название торгов:</strong>
                        </td>
                        <td style="padding-left: 10px;">
                            @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null)
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: right;">
                            <strong>Тема/категория:</strong>
                        </td>
                        <td style="padding-left: 10px;">
                            @Html.ActionLink(item.Theme.Theme + ": " + item.Theme.Title, "Details", "Tender", new { id = item.Id }, null)
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: right;">
                            <strong>Регион/Город:</strong>
                        </td>
                        <td style="padding-left: 10px;">
                            @Html.ActionLink(item.City.Name, "Details", "Tender", new { id = item.Id }, null)
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: right;">
                            <strong>Бюджет:</strong>
                        </td>
                        <td style="padding-left: 10px;">
                            @Html.ActionLink(item.Cost.ToString("0.00") + " руб.", "Details", "Tender", new { id = item.Id }, null)
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: right;">
                            
                        </td>
                        <td style="padding-left: 10px;">
                            @Html.ActionLink("Подробнее...", "Details", "Tender", new { id = item.Id }, null)
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                @if (item.IsActive)
                {
                    @Html.ActionLink("Отменить", "CancelTender", "Tender", new { id = item.Id }, null)
                }
                else
                {
                    <div>Закрыт</div>
                }
            </td>
        </tr>
    }

</table> 
