@model MyTend.Entites.Tender
@{
    ViewBag.Title = "Победитель заявки/торга, определён";
}
<br /><br />
<div class="form-group" style="text-align: left">


      
<h3>Победитель конкурсного торга, определён!</h3>
     

<h5>
    В заявке <a href="~/Tender/Details?id=@Model.Id">@Model.Title</a> Вы выбрали победителем: @Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { user = Model.Winner.Login }, null)
	, конкурсный-торг закрыт!

  
</h5>
    <br />
    <div class="form-group" style="text-align: left">
        <h4 style="color: #f99313;">

            Что дальше?
        </h4>

    </div>
   
    <h5>
        Свяжитесь с исполнителем услуг @Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { user = Model.Winner.Login }, null) используя контакты в его визитке.
    </h5>
   

</div>
<br />
 <div class="row">
 
            <div class="col-md-2"><img src="~/Content/images/phonewinner.svg" width="100" height="100" /></div>
            
				         <div class="col-md-8" style="line-height:20">
                      <h2>
        @if (!string.IsNullOrEmpty(Model.Winner.Phone))
        {
            @Html.ActionLink(Model.Winner.Phone, "Card", "Account", new { user = Model.Winner.Login }, null)
        }
        else
        {
            @Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { user = Model.Winner.Login }, null)
        }
    </h2>
     

				</div></div><br />
				 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/dogovor2.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Договоритесь о встрече </div>
                <div style="font-size: 14px;"><br />
                  Договоритесь с выбранным исполнителем о встрече и заключите договор <br />на предложенных им условиях во время конкурса, на нашем сайте! <br />
				 
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/tort2.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">С нетерпением, ожидайте свой праздник!!!</div>
                <div style="font-size: 14px;"><br />
                  Договорившись обо всем с исполнителем, радостно ожидайте свое праздничное событие <br />
				  Дождавшись его, веселитесь от души, рекомендуйте наш сайт своим родным и близким!<br /><br />
				  <img src="~/Content/images/lamp.svg"width="16" height="20" /> Не забудьте оставить отзыв о Вашем исполнителе на странице его визитки, и о том, как прошло ваше праздничное событие!
				  
                </div>
 </div> </div>
			<br />
			
	