@model MyTend.Models.WinnerTenderModel

@{
    ViewBag.Title = "Мои победы в торгах";
}

<h3 style="color: #222222;">Мои победы в аукционных-торгах</h3>
<h6>Аукционные-торги, в которых вас выбрали победителем. Теперь вам доступна ссылка на визитку покупателя. Свяжитесь с ним удобным для вас способом.</h6>

<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#tab5-1" data-toggle="tab" style="text-decoration: none;"><strong></strong></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            @if (Model.Tenders.Count > 0)
            {
                foreach (var item in Model.Tenders)
                {
                    <div class="row" id="tenderrow-@item.Id">
                        <div class="col-lg-1">
                            <div>
                                <a href="~/Tender/Details?id=@item.Id">
                                    <img src="~/Content/images/kats/@item.Theme.ImageName" width="90" height="100" />
                                </a>
                            </div>
                            <div>
                                @if (item.Winner != null && item.Winner.Login == ViewBag.UserLogin)
                                {
                                    <a href="~/Tender/Details?id=@item.Id">
                                        <img src="~/Content/images/winner.png" width="50" height="60" />
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <table style="width: 100%">
                                <tr>
                                    <td width="20%" style="text-align: right;">
                                        <strong>Название торгов:</strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        @item.Title
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="text-align: right;">
                                        <strong>Тема/категория:</strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        @item.Theme.Theme: @item.Theme.Title
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="text-align: right;">
                                        <strong>Регион/Город:</strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        @item.City.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="text-align: right;">
                                        <strong>Бюджет:</strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        @if (item.Cost == 0)
                                        {
                                            @:<div>Договорная</div>
                                        }
                                        else
                                        {
                                            @:<div>@item.Cost.ToString("0.00") руб.</div>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="text-align: right;">
                                        <strong>Период торга:</strong>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        @Html.ActionLink(item.Winner.FullName, "Card", "Account", new { @user = item.Winner.Login }, new { @style = "color: red" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="text-align: right;"></td>
                                    <td style="padding-left: 10px;">
                                        @Html.ActionLink("Посмотреть подробнее...", "Details", "Tender", new { id = item.Id }, null)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="text-align: right;"></td>
                                    <td style="padding-left: 10px; text-align: right;">
                                        <a href="#" style="color: red;" onclick="hideTender(@item.Id)"><span class="fa fa-trash"></span> Удалить/очистить список</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="rowWhite">

                    </div>
                }
            }
            else
            {
                <div>
                    Вас ещё не выбрали победителем конкурса/аукционного-торга.
                </div>
                <div>
                    Внимательно и часто следите за ходом торгов, что бы успеть сделать более выгодгое предложение заказчику!
                </div>
                <div>
                    Это повышает Ваши шансы на победу в торгах.
                </div>
            }
        </div>
    </div>
</div>