@model MyTend.Models.WriteMessageModel

@{
    ViewBag.Title = "Написать сообщние";
}

@if (Model.Messages != null)
{
    <div class="row" style="padding-top: 10px;">
        @foreach (var msg in Model.Messages)
        {
            <div class="row">
                <div class="col-lg-2" style="text-align: center; font-weight: bold;">
                    @if (msg.From.Avatar != null)
                    {
                        <a href="~/Account/Card?user=@msg.From.Login">
                            <img src="~/Image/Get?id=@msg.From.Avatar.Id" width="100" />
                        </a>
                    }
                    else
                    {
                        <a href="~/Account/Card?user=@msg.From.Login">
                            <img src="~/Image/Get?id=0" width="100" />
                        </a>
                    }
                </div>
                <div class="col-lg-10">
                    <div style="margin: 0px 10px 0px 10px; vertical-align: top;">
                        <p style="font-weight: bold"> 
                            @Html.ActionLink(msg.From.FullName, "Card", "Account", new { @user = msg.From.Login }, null):
                        </p>
                        <p style="word-wrap: break-word;">
                            @Html.Raw(msg.Message.Replace("\n", "</br>"))
                        </p>
                        <div style="color: rgb(23, 118, 140); font-weight: bold; width: 100%; text-align: right">
                            @string.Format("({0})", msg.Date.ToString("dd.MM.yyyy HH:mm"))
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
}

<p style="font-size: 14px;">
    Написать сообщние для: <span style="font-weight: bold;">@Html.ActionLink(Model.To.FullName, "Card", "Account", new { @user = Model.To.Login}, null) </span> 
</p>

@using (@Html.BeginForm("Write", "Card", FormMethod.Post))
{
    <input hidden="hidden" name="ToUserLogin" value="@Model.To.Login" />

    <div class="form-horizontal">
        <div class="form-group">
            <textarea name="Message" rows="3" class="form-control" placeholder="Ваше сообщение"></textarea>
        </div>

        <div class="form-group">
            <div style="width: 100%; text-align: center">
                <button type="submit" class="btn btn-two">Отправить</button>
            </div>
        </div>
    </div>
}